<!DOCTYPE html>
<html ng-app="myApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<input ng-model="firstname"></input>
<input ng-model="lastname"></input>

<div ritish-gumber></div>

<script>
var app = angular.module("myApp", []);
app.directive("ritishGumber", function() {
    return {
		template: "Hello {{firstname + lastname}}"
    };
});
</script>

</body>
</html>
