<html>

	<head>
		<script src="/js/angular.min.js"></script>
		<script src="/js/angular-cookies.js"></script>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<script src="/js/jquery-1.12.1.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/test1.css">
		<link rel="stylesheet" type="text/css" href="css/test3.css">
		<script type="text/javascript" src="js/test1.js"></script>
		<script type="text/javascript" src="js/test3.js"></script>
		<script src="/js/booksImage.js"></script>
		<script src="/js/app.js"></script>
		<meta name="viewport" content="height=device-height,width=device-width, initial-scale=1">
		<script src="/js/angular-sanitize.js"></script>

		</head>

	<body ng-app="booksApp" ng-controller="addCatCtrl" >
		<!--Nav and header secion 
		<div class="navbar navbar-fixed-top navbar-default" style="border:0px;">
			<div class="row shrink" style="background: #336699;">
				<div class="container-fluid">
					<div class="navbar-header"> <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navtop">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> </div>
					<div class="collapse navbar-collapse" id="navtop">
						<ul class="nav navbar-nav">
							<li><a href="#">Home</a></li>
							<li><a href="#">Page 1</a></li>
							<li><a href="#">Page 2</a></li>
							<li><a href="#">Page 3</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a id="loginbuttonid" href="#" class="loginbutton" data-toggle="modal" data-target="#modal1">Login/Sign Up</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row" id="cusnav">
				<div class="col-md-2 col-sm-2 col-xs-1"></div>
				<div class="col-md-2 col-sm-2 col-xs-2 " style="padding: 0px;">
					<div class="navbar-header pull-right" style="padding: 0px;">
						<img src="http://www.83infinity.com/wp-content/uploads/2016/01/Flipkart-Logo-Red-Newswire.png" style="margin-top:0.4em; max-width:100%; min-width:100%;" id="logott"
						/> </div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-4" id="nav2">
					<div class="form-group"> <input id="searchText" ng-change="getBooks()" ng-model="searchText" type="text" class="form-control" method="post" placeholder="  Find your book now!" list="somethingelse2"
						/>
						<div class="row">
							<div id="searchResults" class="col-md-12 col-sm-12">
								<ul id="innersearchResults" class="pull-left" style="position: absolute; z-index: 10000; background:#ffffff;">
									<li id="somethingelse2" class="text-capitalize" value="{{x.name}}" ng-repeat="x in myWelcome">{{x.name}}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				</div>
		</div>
		<div class="row" style="background:#336699; margin: 0px;">
			<div class="col-md-2 col-sm-2 col-xs-0">
			</div>
			<div class="col-md-2 col-xs-2 col-sm-2 col-xs-2 wrap-it" style="margin:0px;padding: 0px; padding-top:0.4em;">
				<div class="dropdown" style="padding: 0px;margin: 0px;">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Change location
                    <span class="caret"></span></button>
					<div class="dropdown-menu">
						<div class="row"> <a>Delhi</a> <br /> <a>Mumbai</a> <br/> </div>
					</div>
				</div>
			</div>
			<div class="col-md-1 col-xs-1 col-sm-1 col-xs-1 wrap-it" style="margin:0px; padding: 0px; padding-top:0.4em">
				<div class="dropdown pull-left"> <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Higher education
                    <span class="caret"></span></button>
					<div class="dropdown-menu" style="width: 400px !important;">
						<div class="row" style="marign-top: 10px">
							<div class="col-md-6 ">
								<div class="row dropitemrow"> <a href="#">Mathematics</a>
									<span class="fa fa-arrow-right dropitemarrow"></span>
								</div>
								<div class="row dropitemrow"> <a href="#">Chemistry</a> <span class="fa fa-arrow-right dropitemarrow"></span> </div>
							</div>
							<div class="col-md-6">
								<div class="row dropitemrow"> <a href="#">Biology</a> <span class="fa fa-arrow-right dropitemarrow"></span> </div>
								<div class="row dropitemrow">
									<a href="#">French</a> <span class="fa fa-arrow-right dropitemarrow"></span> </div>
							</div>
						</div>
						</br/> </div>
				</div>
			</div>
			<div class="col-md-1 col-xs-1 col-sm-1 col-xs-1 wrap-it" style="margin:0px; padding: 0px; padding-top:0.4em">
				<div class="dropdown pull-left"> <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Bachelors' and Masters'
                    <span class="caret"></span></button>
					<div class="dropdown-menu"> <a>B.Tech</a> <br /> <a>MBBS</a> <br/>
						</br/> </div>
				</div>
			</div>
			<div class="col-md-1 col-xs-1 col-sm-1 col-xs-1 wrap-it" style="margin:0px; padding: 0px; padding-top:0.4em">
				<div class="dropdown pull-left"> <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Novels
                    <span class="caret"></span></button>
					<div class="dropdown-menu"> <a>B.Tech</a> <br /> <a>MBBS</a> <br/>
						</br/> </div>
				</div>
			</div>
			<div class="col-md-1 col-xs-1 col-sm-1 col-xs-1 wrap-it" style="margin:0px; padding: 0px; padding-top:0.4em">
				<div class="dropdown pull-left"> <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Magaines
                    <span class="caret"></span></button>
					<div class="dropdown-menu"> <a>B.Tech</a> <br /> <a>MBBS</a> <br/>
						</br/> </div>
				</div>
			</div>
			<div class="col-md-1 col-xs-1 col-sm-1 col-xs-1 wrap-it" style="margin:0px; padding: 0px; padding-top:0.4em">
				<div class="dropdown pull-left"> <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Self help
                    <span class="caret"></span></button>
					<div class="dropdown-menu"> <a>B.Tech</a> <br /> <a>MBBS</a> <br/>
						</br/> </div>
				</div>
			</div>
			<div class="col-md-1 col-xs-1 col-sm-1 col-xs-1 wrap-it" style="margin:0px; padding: 0px; padding-top:0.4em">
				<div class="dropdown pull-left"> <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Notes
                    <span class="caret"></span></button>
					<div class="dropdown-menu"> <a>B.Tech</a> <br /> <a>MBBS</a> <br/>
						</br/> </div>
				</div>
			</div>
		</div>
		<!--Nav and header secion end-->
		<div class ="container">
			<input type="text" placeholder="Add new  category" class="form-control"ng-model="catName"></input>
			<input type="text" ng-focus="focus=true" ng-blur="focus=false"placeholder="Enter Parent category" class="form-control"ng-model="pname" ></input>
			<input type="text" placeholder="Enter image url" class="form-control"ng-model="cimage" ></input>
			<option ng-show="focus" ng-repeat="x in categories" value="{{x.title}}">{{x.title}}</option>
			<button class="btn btn-default" ng-click="addCategory()">Add</button>
				<script type="text/ng-template" id="categoryTree">
    {{ category.title }}
    <ul ng-if="category.children">
        <li ng-repeat="category in category.children" ng-include="'categoryTree'">           
        </li>
		<input type="text"  id="{{category.title}}" placeholder="Enter children of {{category.title}}"></input>

    </ul>

</script>
			<ul>
    <li ng-repeat="category in childrenn " ng-include="'categoryTree'">
	</li>
</ul> 
	</div>
		
		
		
		</body>

<link rel="stylesheet" type="text/css" href="/bower_components2/flexslider/flexslider.css">
	<script src="/bower_components2/flexslider/jquery.flexslider.js"></script>
	<script src="/bower_components2/angular-flexslider/angular-flexslider.js"></script>
    
</html>
