<html>

	<head>
		<script src="/js/angular.min.js"></script>
		<script src="/js/angular-cookies.js"></script>
		<script src="/js/angular-sanitize.js"></script>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<script src="/js/jquery-1.12.1.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
	</link><link rel="stylesheet" type="text/css" href="css/test1.css">
		<script type="text/javascript" src="js/test1.js"></script>
		<script src="/js/booksImage.js"></script>
		<script src="/js/app.js"></script>
		<meta name="viewport" content="height=device-height,width=device-width, initial-scale=1">
		</head>

	<body ng-app="booksApp" ng-controller="addExistingCtrl" onload="clear()" id="MainWrap" onunload="clear()" ng-init="loadUser()">
		<!--Nav and header secion -->
		<input type="text" ng-model="searchTags" placeholder="Search by tags" ng-keypress="searchBooks($event,1)"></input>
		<input type="text" ng-model="searchTitle" placeholder="Search by title" ng-keypress="searchBooks($event,2)"></input>
		<input type="text" ng-model="searchAuthor" placeholder="Search by author" ng-keypress="searchBooks($event,3)"></input>
		<div ng-repeat="x in results">
		<li>{{x.title}}</li>
		<label>{{x.author}}</label>
		<label>{{x.listings}}</label>

		<option >{{x.category}}</option>
		<button id="{{x._id}}" ng-click="sell($event)">Sell Yours</button>
		</div>
		</body>

<link rel="stylesheet" type="text/css" href="/bower_components2/flexslider/flexslider.css">
<script src="/bower_components2/flexslider/jquery.flexslider.js"></script>
<script src="/bower_components2/angular-flexslider/angular-flexslider.js"></script>

</html>
