<html>

<head>
	<meta charset="ISO-8859-1">
	<meta charset="utf-8">
	<meta name="viewport" content="height=device-height,width=device-width, initial-scale=1">
	<meta name="theme-color" content="#03396c">
	<meta name="msapplication-navbutton-color" content="#03396c">
	<meta name="apple-mobile-web-app-status-bar-style" content="#03396c">
	<link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="js/jquery.lazyloadxt.fadein.css">
	<script src="js/jquery-1.12.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/jquery.lazyloadxt.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/test1.css">
	<script type="text/javascript" src="js/test1.js"></script>
	<link rel="stylesheet" type="text/css" href="css/addNewBook.css">
	<script type="text/javascript" src="js/addNewBook.js"></script>
	<script type="text/javascript" src="js/angular-cookies.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/angular-sanitize.js"></script>
	<script type="text/javascript" src="js/booksImage.js"></script>
	<script>
	function clear()
	{
		console.log("hy");
		sessionStorage.urls = "";
	}

	</script>
	<title>BOOKx</title>
</head>
<div class="js">

	<body ng-app="booksApp" ng-controller="addNewBookCtrl" onload="clear()" id="MainWrap" onunload="clear()" ng-init="loadUser()">
		<div id="preloader"></div>
		<div class="modal fade" id="modal1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="background: #f6f7f8"> <button class="close" data-dismiss="modal">&times;</button>
						<h3 style="text-align: center;" class="pull-center modalcolor">Login to your BooksInsta account!</h3> </div>
					<div class="modal-body" id="loginModal" style="background: #f6f7f8">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<h5 class="modalcolor">Login with Social Accounts</h5> <button class="btn btn-primary" style="background-color:#2b85c3; color: #fff; border-radius: 0px; width: 100%; margin-top: 15px;"><i style="padding-right: 10px;" class="fa fa-facebook-f"></i>Facebook</button> <button class="btn btn-primary" style="background-color:#d03a3c; color: #fff; border-radius: 0px; width: 100%; margin-top: 5px;"><i style="padding-right: 10px;" class="fa fa-google"></i>Google</button> <br /> <a href="/register" style="color: #000"><h4>Don't have an account yet? Sign up now!</h4></a> </div>
							<div class="col-md-6 col-sm-6" style="border-left: 1px solid white;">
								<h5 class="modalcolor">Login with Email</h5>
								<div class="form-group modal-color">
									<!--<input type="text" placeholder="Email Id" ng-model="emailId" class=" form-control " />-->
									<div class="paper-input__wrapper" style="background-color: #f6f7f8"> <input ng-model="emailId" class="form-control paper-input paper-input--floating" type="email" style="background-color: #f6f7f8" /> <label style="">Email</label> <span class="bar"></span> </div> <span ng-show="wrongPass"><i class="fa fa-close" style="color: #b00b1e"></i> Wrong Password</span>
									<div class="paper-input__wrapper" style="background-color: #f6f7f8;"> <input ng-model="pass" type="password" class="form-control paper-input paper-input--floating" style="background-color: #f6f7f8;box-shadow: none !important;" /> <label>Password</label> <span class="bar"></span> </div> <button class="btn btn-primary form-control" ng-click="checkUser(emailId,pass)" style="border-radius: 0px; background-color: #2f9066">Login</button> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container" style="margin-top: 2em; ">
			<div class="row" style="margin-top: 1em;">
				<div class="col-md-12 col-sm-12 col-xs-12"> <i class="fa fa-cog" style="display: inline;  color: #fff; margin-left: 1em;"></i>
					<h4 ng-show="!status" style="display: inline; color: #fff">New Book Page will be created! </h4>
					<h4 ng-show="status" style="display: inline; color: #fff">Adding to existing book</h4> </div>
			</div>
			<div class="modal" id="waitmodal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header"> <button class="close" data-dismiss="modal">&times;</button>
							<ul class="list-inline">
								<li>
									<h1>BOOKx</h1></li>
							</ul>
						</div>
						<div class="modal-body">
							<p>Log In/Sign Up</p>
						</div>
					</div>
				</div>
			</div>
			<!-- multistep form -->
			<form id="msform">
				<!-- progressbar -->
				<ul id="progressbar">
					<li class="active">Upload Photo</li>
					<li>Book Details</li>
					<li>Review</li>
				</ul>
				<!-- fieldsets -->
				<fieldset>{{urls}}
					<h2 class="fs-title">Upload Book Photos</h2>
					<h3 class="fs-subtitle">Try to include front, back and index in multiple photos.<br />Choose a file, Click Upload and wait for upload.</h3>
					<h2 class="fs-title">Upload Multiple files one by one</h2>
					<h3 class="fs-subtitle formwarningtext" id="fileuploadwarningtext"><i class="fa fa-warning"></i><span></span></h3>
					<div ng-show="names">
						<ol>
							<li ng-repeat="x in names track by $index"> {{x}} <button id="{{$index}}" ng-click="deleteImage($event)" style="margin-left: 1em;"><span id="{{$index}}" class="fa fa-times formwarningtext"></span></button> </li>
						</ol>
					</div>
					<p id="result"></p> <input type="file" id="file_input" ng-model="filee" /> <button class="action-button" onclick="call()">Upload</button> <br /> <input type="button" name="next" class="next action-button fileuploadnext" value="Next" /> </fieldset>
				<fieldset>
					<h2 class="fs-title">Book Details</h2>
					<h3 class="fs-subtitle">Enter specific bookdetails</h3>
					<h3 class="fs-subtitle formwarningtext" id="bookdetailswarningtext"><i class="fa fa-warning"></i><span></span></h3>
					<div class="form-group"> <input type="hidden" name="urls" value="{{urls}}"></input> <input type="text" ng-model="name" ng-show="!status" class="form-control autoheight" placeholder="Name" id="booknameinput" /> <br>
						<div class="zpadding zmargin">
							<ul class="tagsul zpadding zmargin">
								<li ng-repeat="x in tags track by $index" class="minline"> <button class="btn tagcross zpadding" id="{{$index}}" ng-click="deleteTag($event)" style="display: inline"><span class="fa fa-times"></span></button>
									<p class="minline">{{x}}</p>
									<p class="minline">,</p>
								</li>
							</ul>
						</div> <input type="text" list="tagsSuggestion" ng-change="getTags($event)" ng-model="tag" ng-keypress="saveTags($event,1)" placeholder="Enter tags" />
						<div class="col-md-12 col-sm-12">
							<option value="{{x.tag}}" ng-click='saveTags($event,2)' ng-repeat="x in tagsSuggestion" style="border:2px solid red">{{x.tag}}</option>
						</div>
					</div>
					<div class="lalign">
						<h3 class="fs-subtitle minline">Choose Book Type: </h3>
						<div class="minline"> <input type="radio" id="isOldradio" name="isOld" ng-model="bookType" value="true"></input> <label for="isOldradio"><span></span>Old</label> </div>
						<div class="minline"> <input type="radio" id="isNewradio" name="isOld" ng-model="bookType" value="false"></input> <label for="isNewradio"><span></span>New</label> </div> <br /> <br />
						<h3 class="fs-subtitle minline">Is Free Delivery applicable?</h3>
						<div class="minline"> <input type="radio" id="fdradio" name="fd" ng-model="fd" value="true"></input> <label for="fdradio"><span></span>Yes</label> </div>
						<div class="minline"> <input type="radio" id="nofdradio" name="fd" ng-model="fd" value="false"></input> <label for="nofdradio"><span></span>No</label> </div>
					</div> <br /> <input type="text" ng-model="author" ng-show="!status" placeholder="Author" id="authorinput"></input> <input type="text" ng-model="desc" placeholder="Description" ng-show="!status" id="descinput"></input> <input type="number" ng-model="edition" placeholder="Edition" id="editioninput"></input> <br />
					<div class="lalign">
						<h3 class="fs-subtitle minline">Select a desired category: {{categoryy}}</h3>
						<div class="minline">
		<select ng-model="cat1">
			<option ng-repeat="category in categories track by $index" label="{{category.title}}" value="{{$index}}">{{category.title}}
		</option>
</select>
<select ng-model="subCat1"><option ng-repeat="x in cat2.children track by $index" value="{{$index}}">{{x.title}}</option></select>
<select ng-model="subCat2"><option ng-repeat="x in cat3.children"value="{{$index}}">{{x.title}}</option></select>
 </div>
					</div> <br /> <input type="number" ng-model="price" class="form-control autoheight" placeholder="Price" id="priceinput" />
					<!--
                    <input type="hidden" value="{{email}}" name="email" />
                    <input type="hidden" value="{{lat}}" name="lat" />
                    <input type="hidden" value="{{lon}}" name="lon" />
                    <input type="hidden" value="{{city}}" name="city" />
									--><input type="button" name="previous" class="previous action-button" value="Previous" /> <input type="button" name="next" class="next action-button morebookdet" value="Next" /> </fieldset>
				<fieldset>
					<h2 class="fs-title">Review</h2>
					<h3 class="fs-subtitle">On clicking submit, the details you've entered will be sent for review.<br />Your listing will be reviewed within 48 hours.<br />Thanks!</h3> <input type="submit" ng-click="submitBook()" name="submit" class="submit action-button" value="Submit"> </fieldset>
			</form> {{uploadStatus}} </div>
	</body>
</div>
<link rel="stylesheet" type="text/css" href="/bower_components2/flexslider/flexslider.css">
<script src="/bower_components2/flexslider/jquery.flexslider.js"></script>
<script src="/bower_components2/angular-flexslider/angular-flexslider.js"></script>

</html>
