<!DOCTYPE html>
<html ng-app="booksApp" ng-controller="adminCtrl">

	<head>
		<meta charset="ISO-8859-1">
		<meta charset="utf-8">
		<meta name="viewport" content="height=device-height,width=device-width, initial-scale=1">
		<script src="js/angular.min.js"></script>
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<script src="js/jquery-1.12.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/test1.css">
		<script type="text/javascript" src="js/test1.js"></script>
		<script type="text/javascript" src="js/test2.js"></script>
		<script src="js/fileUpload.js"></script>
		<script src="/js/angular-cookies.js"></script>
		<script src="/js/angular-sanitize.js"></script>
		<script src="/js/app.js"></script>

		<title>BOOKx</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>

		<div class="modal fade" id="modal1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal">&times;</button>
						<ul class="list-inline">
							<li>
								<h1>BOOKx</h1></li>
						</ul>
					</div>
					<div class="modal-body">
						<p>Log In/Sign Up</p>
					</div>
				</div>
			</div>
		</div>
		<div class="navbar navbar-fixed-top navbar-default" style="border:0px;">
			<div class="row shrink" style="background: #4099ff;">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navtop">
<span class = "sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
					</div>
					<div class="collapse navbar-collapse" id="navtop">
						<ul class="nav navbar-nav">
							<li><a href="#">Home</a></li>
							<li><a href="#">Page 1</a></li>
							<li><a href="#">Page 2</a></li>
							<li><a href="#">Page 3</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a id="loginbuttonid" href="#" class="loginbutton" data-toggle="modal" data-target="#modal1">Login/Sign Up</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row" id="cusnav">
				<div class="col-md-2 col-sm-2 col-xs-1"></div>
				<div class="col-md-2 col-sm-2 col-xs-4 " style="padding: 0px;">
					<div class="navbar-header pull-right" style="padding: 0px;">
						<img src="http://img6a.flixcart.com/www/prod/images/flipkart_logo-c76c6a19.png" class="img-responsive" style="margin-top:0.4em; max-width:100%; min-width:100%; height:auto;"
						/>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6" id="nav2">
					<div class="form-group">
						<input id="searchText" ng-change="getBooks()" ng-model="searchText" type="text" class="form-control" method="post" placeholder="  Find your book now!" list="somethingelse">
						<datalist id="somethingelse">
<option class="text-capitalize"value="{{x.name}}" ng-repeat="x in myWelcome track by $index">{{x.name}}</option>
</datalist>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="background:#3989e5; margin:0px;">
			<div class="col-md-6 col-xs-6 col-sm-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-3" style="padding-top:0.4em">
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="#">HTML</a></li>
						<li><a href="#">CSS</a></li>
						<li><a href="#">JavaScript</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<button ng-click="broadcast()">Change</button>{{color}}

			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#quote">Update Quote</a></li>
				<li><a data-toggle="tab" href="#updateSliderData">Update Slider Data</a></li>
				<li><a data-toggle="tab" href="#showSliderData">show Slider Data</a></li>
				<li><a data-toggle="tab" href="#updateCat">Update Category data</a></li>
				<li><a data-toggle="tab" href="#pageApprove">Approve Book pages</a></li>
				<li><a data-toggle="tab" href="#listingApprove">Approve Book Listing</a></li>
				<li><a data-toggle="tab" href="#deleteListing">Delete Listing</a></li>
				
				
			</ul>

			<div class="tab-content">
			
			
				
				<div id="quote" class="tab-pane fade in active">
					<input type="text" placeholder="Enter quote for the homepage" class="form-control" ng-model="quote"></input>
					<button class="form-control btn btn-info" ng-click="updateAdminData('quote')">Change Quote</button> Current Quote : {{adminData.quote}}
				</div>
				<div id="deleteListing" class="tab-pane fade in active">
					<input type="text" placeholder="Enter id of listing" class="form-control" ng-model="listingid"></input>
					<button class="form-control btn btn-info" ng-click="deleteListing()">Delete Listing</button> 
				</div>
				<div id="updateSliderData" class="tab-pane fade">
					<input type="file" id="file_input" multiple/>
					<p id="status">Please select a file</p>
					<img id="preview" src="" />
					<button onclick="call()">Upload</button>
					<p id="url"></p>
					<input type="text" placeholder="target url(For # use %23)" class="form-control" ng-model="target"></input>
					<input type="text" placeholder="Slider url" id="slider_url" class="form-control" ng-model="slider_url"></input>
					<input type="number" ng-model="position" placeholder="Replace existing slider(optional)" value="" class="form-control"></input>
					<button class="form-control btn btn-info" ng-click="updateAdminData('slider')">Change Slider</button>

					<input type="number" placeholder="Index of slider data to be removed" ng-model="sliderIndex"></input>
					<button type="button" ng-click="deleteSlider()" ng-hide="!sliderIndex">OK</button>

				</div>
				<div id="showSliderData" class="tab-pane fade">
					<div class="row">
						<div ng-repeat="x in adminData.slider track by $index" class="col-sm-6 col-xs-6 col-md-6 col-lg-6 ">
							<a href="{{x.target}}"><img style="height:100px;width:100px" ng-src="{{x.image}}"></img>
							</a>
						</div>
					</div>
				</div>
				<div id="updateCat" class="tab-pane fade">
					<div class="row">
						<input type="file" id="file_input" />
						<p id="status">Please select a file</p>
						<img id="preview" src="" />
						<button onclick="call()">Upload</button>
						<p id="url"></p>
						<input type="text" placeholder="target url(For # use %23)" class="form-control" ng-model="catTarget"></input>
						<input type="text" placeholder="Category url" class="form-control" ng-model="cat_url"></input>
						<input type="number" ng-model="cPosition" placeholder="Replace existing category(optional)" class="form-control"></input>
						<input type="text" placeholder="Category Name" class="form-control" ng-model="catName"></input>
						<button class="form-control btn btn-info" ng-click="updateAdminData('category')">Add/Update Category</button>
					</div>
				</div>
				<div id="pageApprove" class="tab-pane fade">
					<div class="row">
						<div ng-repeat="x in pendingPages track by $index" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<img ng-src="{{x.coverImage}}"></img><br></br>
							<input type="text" class="form-control"placeholder="Url for cover Image(Press Enter)" ng-model="ci" id="{{x._id}}" ng-keypress="saveCoverImage($event,ci)"/>
							<ul><li>Title : {{x.title}}</li>
							<li>Author: {{x.author}}</li>
							<li>Category : {{x.category}}</li>
							<li>Description : {{x.description}}</li>
							<li>Tags : <ul><li ng-repeat ="y in x.tags track by $index">{{y}}<button id="{{y}}$${{x._id}}" ng-click="deleteTag($event,$index,2)">Delete from this page's tag database</button>
							<button id="{{y}}$${{x._id}}" ng-click="deleteTag($event,$index,1)">Delete from Tags Database</button></li></ul></li>
							<li>Listings :<ul><li ng-repeat="y in x.listings track by $index"><a href="/product#?id={{y}}" style="color:black">{{$index+1}}</a></li></ul></li>
							<button id='{{x._id}}' ng-click="approvePage($event)">Approve</button>
							
						</div>
					</div>
				</div>
				
				<div id="listingApprove" class="tab-pane fade">
					<div class="row">
						<div ng-repeat="x in pendingListings track by $index" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<img ng-src="{{x.listing.images[0]}}"></img><br></br>
							<ul><li>Title : {{x.listing.title}}</li>
							<li>Category : {{x.listing.category}}</li>
							<li>Description : {{x.listing.description}}</li>
							<li>Tags : <ul><li ng-repeat ="y in x.page.tags track by $index">{{y}}<button id="{{y}}$${{y.page._id}}" ng-click="deleteTag($event,$index,2)">Delete from this page's tag database</button>
							<button id="{{y}}$${{y.page._id}}" ng-click="deleteTag($event,$index,1)">Delete from Tags Database</button></li></ul></li>
							<li>Listings :<a href="/product#?id={{x.listing._id}}" style="color:black">{{$index+1}}</a></li>
							<button id='{{x.listing._id}}' ng-click="approveListing($event)">Approve</button>
							
						</div>
					</div>
				</div>
				
			</div>

		</div>
	</body>

<link rel="stylesheet" type="text/css" href="/bower_components2/flexslider/flexslider.css">
	<script src="/bower_components2/flexslider/jquery.flexslider.js"></script>
	<script src="/bower_components2/angular-flexslider/angular-flexslider.js"></script>
    
</html>
