<!DOCTYPE html>
<html><head>

<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div class="container" ng-app="booksApp" ng-controller="myCtrl">

<p>Name : Price</p>
<div class="list-group">
<ul>
  <li class="list-group-item text-capitalize "ng-repeat="x in myWelcome | regex:'name' ">{{x.name +" : "+ x.price}}</li>
</ul>
</div>
</div>
<script>
var app = angular.module('booksApp', []);
app.controller('myCtrl', function($scope, $http) {
    $http.get("http://localhost:8888/all")
    .then(function(response) {	
        $scope.myWelcome = response.data;
    });
});
app.filter('regex', function() {
  return function(input, field) {
//		console.log(searchText);
      var patt = new RegExp("(.*)(.*)(.*)");      
      var out = [];
      for (var i = 0; i < input.length; i++){
          if(patt.test(input[i][field]))
              out.push(input[i]);
      }      
    return out;
  };
});
</script>
</body>
</html>
