<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-height,width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03396c">
    <meta name="msapplication-navbutton-color" content="#03396c">
    <meta name="apple-mobile-web-app-status-bar-style" content="#03396c">
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="js/jquery.lazyloadxt.fadein.css">
    <link type="text/css" rel="stylesheet" href="css/lightslider.css" />
    <script src="js/jquery-1.12.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/jquery.lazyloadxt.min.js"></script>
    <script src="js/lightslider.js"></script>
    <link rel="stylesheet" type="text/css" href="css/test1.css">
    <link rel="stylesheet" type="text/css" href="css/test2.css">
    <link rel="stylesheet" type="text/css" href="css/bookpage.css">
    <script type="text/javascript" src="js/test1.js"></script>
    <script type="text/javascript" src="js/test2.js"></script>
    <script type="text/javascript" src="js/angular-cookies.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.js"></script>
    <script type="text/javascript" src="js/app.js"></script>


    <link href="css/snack/snackbar.min.css" rel="stylesheet">
    <link href="css/snack/material.css" rel="stylesheet">
    <script src="js/snack/snackbar.min.js"></script>
    <link href="css/fontello-65f5bf00/css/fontello.css" rel="stylesheet">
    <title>BOOKx</title>
</head>
<div class="js">

    <body style="padding-top: 0px; margin-top: 0px;">
        <div id="preloader"></div>
        <div id="msidebar">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-right closemsidebarbtn" style="font-size: 2.5em; margin-right: 0.7em;">
                        &times;
                    </div>
                    <ul>
                        <li>
                            Browse All Categories
                        </li>
                        <li>
                            Sell your book
                        </li>
                        <li>
                            Sign In
                        </li>
                        <li>
                            Sign Up
                        </li>
                        <li>
                            Change pin code
                        </li>
                        <li>
                            Change city
                        </li>
                        <li>
                            Contact Us
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <ul class="list-inline">
                            <li>
                                <h1>BOOKx</h1></li>
                        </ul>
                    </div>
                    <div class="modal-body">
                        <p>Log In/Sign Up</p>

                    </div>
                </div>
            </div>
        </div>



        <!--Nav and header secion -->
        <div class="navbar navbar-fixed-top navbar-default" style="border:0px;">
            <div class="row shrink">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navtop">
                        <div class="container" style="text-align: center; ">
                            <ul class="nav navbar-nav">
                                <li class="navbarlink"><a href="#">Contact us</a></li>
                                <li class="navbarlink"><a href="#">Find the right book</a></li>
                                <li class="navbarlink"><a href="#">Change City</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="navbarlink"><a href="#">All Categories</a></li>
                                <li class="navbarlink"><a href="#">Sell Your Book</a></li>
                                <li class="navbarlink"><a href="#">My Books</a></li>
                                <li ng-show="!pincode" class="navbarlink"><a href="#" data-toggle="modal" data-target="#mapModal">Change location</a></li>
                                <li ng-show="pincode" class="navbarlink"><a href="#" data-toggle="modal" data-target="#mapModal"> {{pincode}} </a></li>
                                <li class="navbarlink"><a id="loginbuttonid" href="#" class="loginbutton" data-toggle="modal" data-target="#modal1">Login/Sign Up</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Mobile only -->
            <div class="row shrink" style="padding: 0px; margin: 0px;">
                <div class="col-xs-12 hidden-md hidden-sm hidden-lg">
                    <div class="row">
                        <div class="col-xs-2" style="text-align:center; margin-top:0.8em;">
                            <i id="msidebartoggle" class="fa fa-bars" style="font-size: 1.5em"></i>
                        </div>
                        <div class="col-xs-5">
                            <img data-src="http://i1.sdlcdn.com/img/storeFrontFeaturedProductAdmin/12/NewSnapdealLogo15045.png" style="margin-top:0.4em; max-width:100%; min-width:100%;" id="logott" />
                        </div>
                    </div>
                </div>
            </div>
            <!--End Mobile only -->
            <div class="row" id="cusnav">
                <div class="col-md-2 col-sm-2 col-xs-1"></div>
                <div class="col-md-2 col-sm-2 col-xs-0 hidden-xs " style="padding: 0px;">
                    <div class="navbar-header pull-right" style="padding: 0px;">
                        <img data-src="http://i1.sdlcdn.com/img/storeFrontFeaturedProductAdmin/12/NewSnapdealLogo15045.png" style="margin-top:0.4em; max-width:100%; min-width:100%;" id="logott" />
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-8" id="nav2">
                    <div class="form-group">
                        <input style="border: 1px solid #e1e0e; z-index: 15000;" id="searchText" ng-change="getBooks()" ng-model="searchText" type="text" class="sbar form-control" method="post" placeholder="  Find your book now!" list="somethingelse2" />
                        <div class="row">
                            <div id="searchResults" class="col-md-12 col-sm-12">
                                <ul id="innersearchResults" class="pull-left">
                                    <li class="searchresultli">
                                        <a class="searchresultlink" href="#">OS
                            </a>
                                    </li>
                                    <li class="searchresultli">
                                        <a class="searchresultlink" href="#">OSes by LokeshSingh
                            </a>
                                    </li>
                                    <li class="searchresultli">
                                        <a class="searchresultlink" href="#">OS
                            </a>
                                    </li>
                                    <li class="searchresultli">
                                        <a class="searchresultlink" href="#">OS
                            </a>
                                    </li>
                                    <li class="searchresultli">
                                        <a class="searchresultlink" href="#" style=" color: #000">Explore All >
                            </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 col-sm-1 col-xs-1 searchbtnnav">
                    <button class="btn btn-primary" style="background-color: #03396c; border-radius: 0px;">Search</button>
                </div>

            </div>
        </div>
        <div class="row" style="background:#006cb4; margin: 0px;">

        </div>

        <!--Nav and header secion end-->


        <div class="container" style="background: #ffffff;">
            <div class="row" style="padding-top: 3em; padding-bottom: 1em; ">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <ul id="lightSlider">
                        <li data-thumb="https://img01.olx.in/images_olxin/208805721_1_1000x700_financial-reporting-book-vol-1-and-vol-2-for-paper-1-at-the-delhi.jpg">
                            <img class="maximg" data-src="https://img01.olx.in/images_olxin/208805721_1_1000x700_financial-reporting-book-vol-1-and-vol-2-for-paper-1-at-the-delhi.jpg" />
                        </li>
                        <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-2.jpg">
                            <img data-src="http://sachinchoolur.github.io/lightslider/img/cS-2.jpg" />
                        </li>
                        <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-3.jpg">
                            <img data-src="http://sachinchoolur.github.io/lightslider/img/cS-3.jpg" />
                        </li>
                        <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-4.jpg">
                            <img data-src="http://sachinchoolur.github.io/lightslider/img/cS-4.jpg" />
                        </li>
                        <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-5.jpg">
                            <img data-src="http://sachinchoolur.github.io/lightslider/img/cS-5.jpg" />
                        </li>
                        <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-6.jpg">
                            <img data-src="http://sachinchoolur.github.io/lightslider/img/cS-6.jpg" />
                        </li>
                        <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-7.jpg">
                            <img data-src="http://sachinchoolur.github.io/lightslider/img/cS-7.jpg" />
                        </li>
                        <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-8.jpg">
                            <img data-src="http://sachinchoolur.github.io/lightslider/img/cS-8.jpg" />
                        </li>
                        <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-9.jpg">
                            <img data-src="http://sachinchoolur.github.io/lightslider/img/cS-9.jpg" />
                        </li>
                        <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-10.jpg">
                            <img data-src="http://sachinchoolur.github.io/lightslider/img/cS-10.jpg" />
                        </li>
                        <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-11.jpg">
                            <img data-src="http://sachinchoolur.github.io/lightslider/img/cS-12.jpg" />
                        </li>
                        <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-13.jpg">
                            <img data-src="http://sachinchoolur.github.io/lightslider/img/cS-13.jpg" />
                        </li>
                    </ul>


                    <div class="readlaterbtn" style="right: 5%; top: -0.2%; border-top-left-radius: 0%; border-top-right-radius: 0%; border-bottom-left-radius: 5%; " data-toggle=snackbar data-content='Added to: "Books I want to read"'>
                        <span class="fa fa-book"></span>
                    </div>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-8 col-xs-8">
                            <h3 style="margin-left: 2px; color: black; font-weight: bold;">OS Sample papers Sem 6</h3>
                        </div>
                        <!--
                <div class="col-md-6 col-sm-4 col-xs-4" style="text-align: right">
                  <div class="readlaterbtn" style="text-align: right; right: 10%; border-radius: 0px !important;" data-toggle=snackbar data-content='Added to: "Books I want to read"'>
                      <span class="fa fa-book"></span>
                  </div>
                </div>
              -->
                    </div>
                    <hr class="pgline" />
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4" style="margin-top: 0.5em;">
                            <h4 class="cost costrs" style="display: inline; overflow: auto">Mrp Rs. </h4>
                            <h4 class="productdata cost" style="display: inline; overflow: auto"> 192</h4>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <h4 class="smallproductdata">Edition: 4 (2011) </h4>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <a href="#" class="typetag"><h4 ><span class="fa fa-book" style="font-size: 14px"></span> Education</h4></a>
                        </div>


                    </div>
                    <div class="row">

                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <h4 class="smallproductdata">400 pages</h4>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">


                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h4 class="smallproductdata">Author: Dr. BK Rai and Mr. DK Chaturvedi BC</h4>
                            </div>
                            <div class="col-md-12 col-xs-12 col-sm-12">
                                <h4 class="smallproductdata">Publisher: Dr. BK Rai and Mr. DK Chaturvedi BC</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <h5 class="smallproductdata">ISBN: 9780521635776</h5>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <h5 class="smallproductdata">ISBN-13: 0521635772</h5>
                            </div>
                        </div>
                        <hr class="pgline" />
                        <div class="row" style="margin-bottom: 2px;">
                            <div class="col-md-12 col-sm-12 col-xs-12" id="productdesc">
                                <h5 style="color: black; display: inline">Description:</h5>
                                <h5 id="pdetail" style=" display: inline">{{page.description}}</h5></div>
                        </div>

                    </div>
                </div>
                <hr class="pgline" />
                <div class="row">
                    <div class="col-md-12 col-xs-12 zmargin zpadding">
                        <h4 style="text-align: center;">Find Sellers</h4>
                    </div>
                    <div class="col-md-12 col-xs-12 col-sm-12 zmargin zpadding">
                        <ul class="sellerslist">
                            <li class="zmargin zpadding">
                                <div class="row zmargin zpadding">
                                    <div class="col-md-2 col-sm-3 col-xs-3 zmargin zpadding">
                                        <img class="pull-right zmargin zpadding" style="margin-right: 0px;" data-src="https://img04.olx.in/images_olxin/171532317_1_1000x700_aakash-allen-medical-books-now-buy-anywhere-in-india-2015-16-bengaluru_rev001.jpg">
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9 zmargin zpadding">
                                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                                            <a href="#"><h4 style="font-size: 20px;">Paradise Found</h4></a>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-12">
                                            <h5 class="cost costrs">Rs. 152</h5>
                                        </div>


                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <h5 class="lightcolor">Delhi</h5>
                                        </div>


                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <a href="#"><h5>BK Data Sellers Book House</h5></a>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li class="zmargin zpadding">
                                <div class="row zmargin zpadding">
                                    <div class="col-md-2 col-sm-3 col-xs-3 zmargin zpadding">
                                        <img class="pull-right zmargin zpadding" style="margin-right: 0px;" data-src="https://img04.olx.in/images_olxin/171532317_1_1000x700_aakash-allen-medical-books-now-buy-anywhere-in-india-2015-16-bengaluru_rev001.jpg">
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9 zmargin zpadding">
                                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                                            <a href="#"><h4 style="font-size: 20px;">Paradise Found</h4></a>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-12">
                                            <h5 class="cost costrs">Rs. 152</h5>
                                        </div>


                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <h5 class="lightcolor">Bengaluru</h5>
                                        </div>


                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <a href="#"><h5>BK Data Sellers Book House</h5></a>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li class="zmargin zpadding">
                                <div class="row zmargin zpadding">
                                    <div class="col-md-2 col-sm-3 col-xs-3 zmargin zpadding">
                                        <img class="pull-right zmargin zpadding" style="margin-right: 0px;" data-src="https://img04.olx.in/images_olxin/171532317_1_1000x700_aakash-allen-medical-books-now-buy-anywhere-in-india-2015-16-bengaluru_rev001.jpg">
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9 zmargin zpadding">
                                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                                            <a href="#"><h4 style="font-size: 20px;">Paradise Found</h4></a>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-12">
                                            <h5 class="cost costrs">Rs. 152</h5>
                                        </div>


                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <h5 class="lightcolor">Chandigarh</h5>
                                        </div>


                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <a href="#"><h5>BK Data Sellers Book House</h5></a>
                                        </div>
                                    </div>

                                </div>
                            </li>







                        </ul>
                    </div>
                </div>

                <hr class="pgline" />
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h3>Similar Items</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <ul id="recommendedslider">
                            <li>
                                <a href="#">
                                    <img class="carimg" data-src="https://img01.olx.in/images_olxin/208805721_1_1000x700_financial-reporting-book-vol-1-and-vol-2-for-paper-1-at-the-delhi.jpg" />
                                    <span class="card-title">Financial Reporting Question Bank for 1st paper 2015</span>
                                    <br />
                                    <p class="cost costrs" style="display: inline">Rs. </p>
                                    <p class="cost" style="display: inline"> 1523</p>
                                </a>
                            </li>
                            <li>
                                <h3>Second Slide</h3>
                                <p>Lorem ipsum Excepteur amet adipisicing fugiat velit nisi.</p>
                            </li>
                            <li>
                                <h3>Second Slide</h3>
                                <p>Lorem ipsum Excepteur amet adipisicing fugiat velit nisi.</p>
                            </li>
                            <li>
                                <h3>Second Slide</h3>
                                <p>Lorem ipsum Excepteur amet adipisicing fugiat velit nisi.</p>
                            </li>
                            <li>
                                <h3>Second Slide</h3>
                                <p>Lorem ipsum Excepteur amet adipisicing fugiat velit nisi.</p>
                            </li>
                            <li>
                                <h3>Second Slide</h3>
                                <p>Lorem ipsum Excepteur amet adipisicing fugiat velit nisi.</p>
                            </li>
                            <li>
                                <h3>Second Slide</h3>
                                <p>Lorem ipsum Excepteur amet adipisicing fugiat velit nisi.</p>
                            </li>
                            <li>
                                <h3>Second Slide</h3>
                                <p>Lorem ipsum Excepteur amet adipisicing fugiat velit nisi.</p>
                            </li>
                        </ul>
                    </div>
                </div>


                <hr class="pgline" style="margin-top: 25px;" />
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h3>From This Seller</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <ul id="fromsellerslider">
                            <li>
                                <a href="#">
                                    <img class="carimg" data-src="https://img01.olx.in/images_olxin/208805721_1_1000x700_financial-reporting-book-vol-1-and-vol-2-for-paper-1-at-the-delhi.jpg" />
                                    <span class="card-title">Financial Reporting Question Bank for 1st paper 2015</span>
                                    <br />
                                    <p class="cost costrs" style="display: inline">Rs. </p>
                                    <p class="cost" style="display: inline"> 1523</p>
                                </a>
                            </li>
                            <li>
                                <h3>Second Slide</h3>
                                <p>Lorem ipsum Excepteur amet adipisicing fugiat velit nisi.</p>
                            </li>
                            <li>
                                <h3>Second Slide</h3>
                                <p>Lorem ipsum Excepteur amet adipisicing fugiat velit nisi.</p>
                            </li>
                            <li>
                                <h3>Second Slide</h3>
                                <p>Lorem ipsum Excepteur amet adipisicing fugiat velit nisi.</p>
                            </li>
                            <li>
                                <h3>Second Slide</h3>
                                <p>Lorem ipsum Excepteur amet adipisicing fugiat velit nisi.</p>
                            </li>
                            <li>
                                <h3>Second Slide</h3>
                                <p>Lorem ipsum Excepteur amet adipisicing fugiat velit nisi.</p>
                            </li>
                            <li>
                                <h3>Second Slide</h3>
                                <p>Lorem ipsum Excepteur amet adipisicing fugiat velit nisi.</p>
                            </li>
                            <li>
                                <h3>Second Slide</h3>
                                <p>Lorem ipsum Excepteur amet adipisicing fugiat velit nisi.</p>
                            </li>
                        </ul>
                    </div>
                </div>



                <div class="row" style="padding: 2em;">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="background:white;">
                        <h4 class="text-center quote">
    "Two people never read the same book!"</h4>
                    </div>
                </div>




            </div>

    </body>
    </div>

</html>
