<html>

<head>
    <meta charset="ISO-8859-1">
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-height,width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03396c">
    <meta name="msapplication-navbutton-color" content="#03396c">
    <meta name="apple-mobile-web-app-status-bar-style" content="#03396c">
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="js/jquery.lazyloadxt.fadein.css">
    <script src="js/jquery-1.12.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/jquery.lazyloadxt.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/test1.css">
    <link rel="stylesheet" type="text/css" href="css/ftrb.css">
    <script type="text/javascript" src="js/test1.js"></script>
    <script type="text/javascript" src="js/angular-cookies.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.js"></script>
    <script type="text/javascript" src="js/app.js"></script>


    <link href="css/snack/snackbar.min.css" rel="stylesheet">
    <link href="css/snack/material.css" rel="stylesheet">
    <script src="js/snack/snackbar.min.js"></script>
    <link href="css/fontello-65f5bf00/css/fontello.css" rel="stylesheet">
    <title>BOOKx</title>
    <script>
        function clear() {
            sessionStorage.urls = "";
        }
    </script>
</head>
<div class="js">

    <body ng-app="booksApp" ng-controller="userProfileCtrl" onload="clear()" id="MainWrap" onunload="clear()" ng-init="loadUser()">
        <div id="preloader"></div>
        <div id="msidebar">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-right closemsidebarbtn" style="font-size: 2.5em; margin-right: 0.7em;">
                        &times;
                    </div>
                    <ul>
                        <li>
                            Browse All Categories
                        </li>
                        <li>
                            Sell your book
                        </li>
                        <li>
                            Sign In
                        </li>
                        <li>
                            Sign Up
                        </li>
                        <li>
                            Change pin code
                        </li>
                        <li>
                            Change city
                        </li>
                        <li>
                            Contact Us
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Nav and header secion -->
        <div class="navbar navbar-fixed-top navbar-default" style="border:0px;">
            <div class="row shrink">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navtop">
                        <div class="container" style="text-align: center; ">
                            <ul class="nav navbar-nav">
                                <li class="navbarlink"><a href="#">Contact us</a></li>
                                <li class="navbarlink"><a href="#">Find the right book</a></li>
                                <li class="navbarlink"><a href="#">Change City</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="navbarlink"><a href="#">All Categories</a></li>
                                <li class="navbarlink"><a href="#">Sell Your Book</a></li>
                                <li class="navbarlink"><a href="#">My Books</a></li>
                                <li ng-show="!pincode" class="navbarlink"><a href="#" data-toggle="modal" data-target="#mapModal">Change location</a></li>
                                <li ng-show="pincode" class="navbarlink"><a href="#" data-toggle="modal" data-target="#mapModal"> {{pincode}} </a></li>
                                <li class="navbarlink"><a id="loginbuttonid" href="#" class="loginbutton" data-toggle="modal" data-target="#modal1">Login/Sign Up</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Mobile only -->
            <div class="row shrink" style="padding: 0px; margin: 0px;">
                <div class="col-xs-12 hidden-md hidden-sm hidden-lg">
                    <div class="row">
                        <div class="col-xs-2" style="text-align:center; margin-top:0.8em;">
                            <i id="msidebartoggle" class="fa fa-bars" style="font-size: 1.5em"></i>
                        </div>
                        <div class="col-xs-5">
                            <img data-src="http://i1.sdlcdn.com/img/storeFrontFeaturedProductAdmin/12/NewSnapdealLogo15045.png" style="margin-top:0.4em; max-width:100%; min-width:100%;" id="logott" />
                        </div>
                    </div>
                </div>
            </div>
            <!--End Mobile only -->
            <div class="row" id="cusnav">
                <div class="col-md-2 col-sm-2 col-xs-1"></div>
                <div class="col-md-2 col-sm-2 col-xs-0 hidden-xs " style="padding: 0px;">
                    <div class="navbar-header pull-right" style="padding: 0px;">
                        <img data-src="http://i1.sdlcdn.com/img/storeFrontFeaturedProductAdmin/12/NewSnapdealLogo15045.png" style="margin-top:0.4em; max-width:100%; min-width:100%;" id="logott" />
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-8" id="nav2">
                    <div class="form-group">
                        <input style="border: 1px solid #e1e0e; z-index: 15000;" id="searchText" ng-change="getBooks()" ng-model="searchText" type="text" class="sbar form-control" method="post" placeholder="  Find your book now!" list="somethingelse2" />
                        <div class="row">
                            <div id="searchResults" class="col-md-12 col-sm-12">
                                <ul id="innersearchResults" class="pull-left">
                                    <li class="searchresultli">
                                        <a class="searchresultlink" href="#">OS
														</a>
                                    </li>
                                    <li class="searchresultli">
                                        <a class="searchresultlink" href="#">OSes by LokeshSingh
														</a>
                                    </li>
                                    <li class="searchresultli">
                                        <a class="searchresultlink" href="#">OS
														</a>
                                    </li>
                                    <li class="searchresultli">
                                        <a class="searchresultlink" href="#">OS
														</a>
                                    </li>
                                    <li class="searchresultli">
                                        <a class="searchresultlink" href="#" style=" color: #000">Explore All >
														</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 searchbtnnav">
                    <button class="btn btn-primary" style="background-color: #03396c; border-radius: 0px;">Search</button>
                </div>

            </div>
        </div>
        <div class="row" style="background:#006cb4; margin: 0px;">

        </div>

        <!--Nav and header secion end-->
        <div class="container" style="background: #fff">
          <div class="row" >
            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 2em;">
            <h4 class="sidelines"><span>Results matching "Node Js"</span></h4>
  <style type="text/css">
  h4.sidelines { text-align: center; border-bottom: 1px solid #e5e5e5; height: 1em; }
  h4.sidelines span { display: inline-block; background-color: #fff; padding:0 0.25em; font-size: 18px;}
  </style>
</div>
          </div>
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <ul class="bookslist">
    <li>
      <div class="row zmargin zpadding">
        <div class="col-md-2 col-sm-3 col-xs-3 zmargin zpadding">
          <img class="pull-right zmargin zpadding" style="margin-right: 0px;" data-src="https://img04.olx.in/images_olxin/171532317_1_1000x700_aakash-allen-medical-books-now-buy-anywhere-in-india-2015-16-bengaluru_rev001.jpg" >
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9 zmargin zpadding">
          <div class="col-md-12 col-sm-12 col-xs-12 ">
            <a href="#"><h4 style="font-size: 20px;">Paradise Found</h4></a>
          </div>
          <div class="col-md-6 col-xs-6 col-sm-12">
            <h5 class="cost costrs">Rs. 152</h5>
          </div>


          <div class="col-md-6 col-sm-6 col-xs-6">
            <h5 class="lightcolor">Education</h5>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 pul-left">
            <h5 class="lightcolor">Author: Dr. BK Singh BCOK</h5>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="stars pull-left">
                <form action="">
                    <input class="star star-5" id="star-5" type="radio" name="star" />
                    <label class="star star-5" for="star-5"></label>
                    <input class="star star-4" id="star-4" type="radio" name="star" />
                    <label class="star star-4" for="star-4"></label>
                    <input class="star star-3" id="star-3" type="radio" name="star" />
                    <label class="star star-3" for="star-3"></label>
                    <input class="star star-2" id="star-2" type="radio" name="star" />
                    <label class="star star-2" for="star-2"></label>
                    <input class="star star-1" id="star-1" type="radio" name="star" />
                    <label class="star star-1" for="star-1"></label>
                </form>
                <script>
                $('input:radio[id=star-1]').prop('checked', true);
                  $('input[name=star]').attr("disabled",true);

                </script>
            </div>

          </div>
        </div>

      </div>
    </li>


    <li>
      <div class="row zmargin zpadding">
        <div class="col-md-2 col-sm-3 col-xs-3 zmargin zpadding">
          <img class="pull-right zmargin zpadding" style="margin-right: 0px;" data-src="https://img04.olx.in/images_olxin/171532317_1_1000x700_aakash-allen-medical-books-now-buy-anywhere-in-india-2015-16-bengaluru_rev001.jpg" >
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9 zmargin zpadding">
          <div class="col-md-12 col-sm-12 col-xs-12 ">
            <a href="#"><h4 style="font-size: 20px;">Paradise Found</h4></a>
          </div>
          <div class="col-md-6 col-xs-6 col-sm-12">
            <h5 class="cost costrs">Rs. 152</h5>
          </div>


          <div class="col-md-6 col-sm-6 col-xs-6">
            <h5 class="lightcolor">Education</h5>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 pul-left">
            <h5 class="lightcolor">Author: Dr. BK Singh BCOK</h5>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="stars pull-left">
                <form action="">
                    <input class="star star-5" id="star-5" type="radio" name="star" />
                    <label class="star star-5" for="star-5"></label>
                    <input class="star star-4" id="star-4" type="radio" name="star" />
                    <label class="star star-4" for="star-4"></label>
                    <input class="star star-3" id="star-3" type="radio" name="star" />
                    <label class="star star-3" for="star-3"></label>
                    <input class="star star-2" id="star-2" type="radio" name="star" />
                    <label class="star star-2" for="star-2"></label>
                    <input class="star star-1" id="star-1" type="radio" name="star" />
                    <label class="star star-1" for="star-1"></label>
                </form>
                <script>
                $('input:radio[id=star-1]').prop('checked', true);
                  $('input[name=star]').attr("disabled",true);

                </script>
            </div>

          </div>
        </div>

      </div>
    </li>




    <li>
      <div class="row zmargin zpadding">
        <div class="col-md-2 col-sm-3 col-xs-3 zmargin zpadding">
          <img class="pull-right zmargin zpadding" style="margin-right: 0px;" data-src="https://img04.olx.in/images_olxin/171532317_1_1000x700_aakash-allen-medical-books-now-buy-anywhere-in-india-2015-16-bengaluru_rev001.jpg" >
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9 zmargin zpadding">
          <div class="col-md-12 col-sm-12 col-xs-12 ">
            <a href="#"><h4 style="font-size: 20px;">Paradise Found</h4></a>
          </div>
          <div class="col-md-6 col-xs-6 col-sm-12">
            <h5 class="cost costrs">Rs. 152</h5>
          </div>


          <div class="col-md-6 col-sm-6 col-xs-6">
            <h5 class="lightcolor">Education</h5>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 pul-left">
            <h5 class="lightcolor">Author: Dr. BK Singh BCOK</h5>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="stars pull-left">
                <form action="">
                    <input class="star star-5" id="star-5" type="radio" name="star" />
                    <label class="star star-5" for="star-5"></label>
                    <input class="star star-4" id="star-4" type="radio" name="star" />
                    <label class="star star-4" for="star-4"></label>
                    <input class="star star-3" id="star-3" type="radio" name="star" />
                    <label class="star star-3" for="star-3"></label>
                    <input class="star star-2" id="star-2" type="radio" name="star" />
                    <label class="star star-2" for="star-2"></label>
                    <input class="star star-1" id="star-1" type="radio" name="star" />
                    <label class="star star-1" for="star-1"></label>
                </form>
                <script>
                $('input:radio[id=star-1]').prop('checked', true);
                  $('input[name=star]').attr("disabled",true);

                </script>
            </div>

          </div>
        </div>

      </div>
    </li>





    <li>
      <div class="row zmargin zpadding">
        <div class="col-md-2 col-sm-3 col-xs-3 zmargin zpadding">
          <img class="pull-right zmargin zpadding" style="margin-right: 0px;" data-src="https://img04.olx.in/images_olxin/171532317_1_1000x700_aakash-allen-medical-books-now-buy-anywhere-in-india-2015-16-bengaluru_rev001.jpg" >
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9 zmargin zpadding">
          <div class="col-md-12 col-sm-12 col-xs-12 ">
            <a href="#"><h4 style="font-size: 20px;">Paradise Found</h4></a>
          </div>
          <div class="col-md-6 col-xs-6 col-sm-12">
            <h5 class="cost costrs">Rs. 152</h5>
          </div>


          <div class="col-md-6 col-sm-6 col-xs-6">
            <h5 class="lightcolor">Education</h5>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 pul-left">
            <h5 class="lightcolor">Author: Dr. BK Singh BCOK</h5>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="stars pull-left">
                <form action="">
                    <input class="star star-5" id="star-5" type="radio" name="star" />
                    <label class="star star-5" for="star-5"></label>
                    <input class="star star-4" id="star-4" type="radio" name="star" />
                    <label class="star star-4" for="star-4"></label>
                    <input class="star star-3" id="star-3" type="radio" name="star" />
                    <label class="star star-3" for="star-3"></label>
                    <input class="star star-2" id="star-2" type="radio" name="star" />
                    <label class="star star-2" for="star-2"></label>
                    <input class="star star-1" id="star-1" type="radio" name="star" />
                    <label class="star star-1" for="star-1"></label>
                </form>
                <script>
                $('input:radio[id=star-1]').prop('checked', true);
                  $('input[name=star]').attr("disabled",true);

                </script>
            </div>

          </div>
        </div>

      </div>
    </li>





    <li>
      <div class="row zmargin zpadding">
        <div class="col-md-2 col-sm-3 col-xs-3 zmargin zpadding">
          <img class="pull-right zmargin zpadding" style="margin-right: 0px;" data-src="https://img04.olx.in/images_olxin/171532317_1_1000x700_aakash-allen-medical-books-now-buy-anywhere-in-india-2015-16-bengaluru_rev001.jpg" >
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9 zmargin zpadding">
          <div class="col-md-12 col-sm-12 col-xs-12 ">
            <a href="#"><h4 style="font-size: 20px;">Paradise Found</h4></a>
          </div>
          <div class="col-md-6 col-xs-6 col-sm-12">
            <h5 class="cost costrs">Rs. 152</h5>
          </div>


          <div class="col-md-6 col-sm-6 col-xs-6">
            <h5 class="lightcolor">Education</h5>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 pul-left">
            <h5 class="lightcolor">Author: Dr. BK Singh BCOK</h5>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="stars pull-left">
                <form action="">
                    <input class="star star-5" id="star-5" type="radio" name="star" />
                    <label class="star star-5" for="star-5"></label>
                    <input class="star star-4" id="star-4" type="radio" name="star" />
                    <label class="star star-4" for="star-4"></label>
                    <input class="star star-3" id="star-3" type="radio" name="star" />
                    <label class="star star-3" for="star-3"></label>
                    <input class="star star-2" id="star-2" type="radio" name="star" />
                    <label class="star star-2" for="star-2"></label>
                    <input class="star star-1" id="star-1" type="radio" name="star" />
                    <label class="star star-1" for="star-1"></label>
                </form>
                <script>
                $('input:radio[id=star-2]').prop('checked', true);
                  $('input[name=star]').attr("disabled",true);

                </script>
            </div>

          </div>
        </div>

      </div>
    </li>





  </ul>
            </div>
          </div>
        </div>
      </body>
    </div>
    </html>
