<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
 <link href="css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" href="rippler-master/dist/css/rippler.min.css">
 <link rel="stylesheet" href="js/jquery.lazyloadxt.spinner.css">
<script src="js/jquery-1.12.1.min.js"></script>
<script src="rippler-master/dist/js/jquery.rippler.min.js"></script>
<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/jquery.lazyloadxt.min.js"></script>
	<script src="/js/angular-cookies.js"></script>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>BookAdda</title>
</head>

<body ng-app="booksApp" ng-controller="myCtrl">
	<br/>
	<br /><br /><br /><br /><br />
</br/>
	<div class="container">

		<form  role="form"name="myForm">
			<div class="form-group">
				<input type="email" name="email"
					class="form-control" placeholder="Username" ng-model="email" /><br>
			<span ng-show="!wrongPass" >Check username and password</span>
				<input type="password" name="password"
					class="form-control" placeholder="Password" ng-model="pass"/><br>
					<input
					type="submit" class="btn btn-default" ng-click="checkUser(email,pass)"> <br>
			</div>
		</form>
		<a href="/searchBook">Search</a>
		<a href="/register">Register</a>
	</div>
	<script>
	var app=angular.module('booksApp',['ngCookies']);

	app.controller("myCtrl",function($scope,$http,$window,$cookies){
	var isLoggedIn = function() {
  var token = $window.localStorage['mean-token'];
  var payload;

  if(token){
    payload = token.split('.')[1];
    payload = $window.atob(payload);
    payload = JSON.parse(payload);

    return payload.exp > Date.now() / 1000;
  } else {
    return false;
  }
};
if(isLoggedIn())
$window.location.href="/profile";

	$scope.wrongPass=true;
	$scope.checkUser=function(email,pass){
	$http.get("/checkUser?email="+email+"&&password="+pass, {
      headers: {
        'token': $window.localStorage['mean-token']
      }}).then(function(response) {
				$window.localStorage['mean-token']=response.data.token;
				console.log(response.data);
				});

	};

	});

	</script>

</body>
</html>
