<!DOCTYPE html>
<html ng-app="booksApp" ng-controller="myCtrl" ng-cloak>
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
<meta name="viewport"
	content="height=device-height,width=device-width, initial-scale=1">
<script
	src="/js/angular.min.js"></script>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="/css/bootstrap.min.css">
			<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>

<script
	src="/js/jquery-1.12.1.min.js"></script>
<script
	src="/js/bootstrap.min.js"></script>
	<script src="/js/angular-touch.js"></script>
<title>Insert title here</title>
<style>
.abc{
width:100%;
border:solid 0.5px black;
padding:3px}

</style>
</head>
<body >
	<div class="container" >
		<div class="form-group">
			<br></br> <input id="searchText" ng-change="getBooks()"
				ng-model="searchText" type="text" class="form-control" method="post"
				placeholder="Search Text" /><br>
			<p>Total Results Found : {{count}}</p>
		
			<ul class="pagination" ng-init="page=0">
				<li ng-if="page > 0"><a ng-click="subButtons()">Prev</a></li>
				<li ng-repeat="z in []|range:(count/pageSize):page:pageSize"><a
					id={{z}} ng-click="getBooks($event)">{{z}}</a></li>
				<li ng-if="count > 5*pageSize" ng-hide="(page+5)*pageSize > count "><a
					ng-click="addButtons()">Next</a></li>
			</ul>
		</div>
	</div>A :{{aa}}
	<div class="list-group" style="display: flex" ng-init="open=false">
		<ul>
			<li class="list-group-item text-capitalize"
				ng-repeat="x in myWelcome " ng-swipe-left="aa=aa+1" >
				
					<label   ng-class="{'fa fa-chevron-right abc':!open,'fa fa-chevron-down abc':open}" ng-click="open=!open"> Name: {{x.name}}</label>
					<div class="row" style="padding:2%" ng-show="open" >
						<div class="col-sm-3">
							<img src="images/Capture.JPG" class="img-responsive" alt="Book Image" ></img>
						</div>
						<div class="col-sm-6">
							<div style="display: inline-block">
								<p>Price: {{x.price}}</p>
								<p>Sold By: {{x.soldBy}}</p>
								<p>Posted on: {{x.postedOn}}</p>
								<p>id : {{x._id}}</p>
								
							</div>
						</div >
						<div  class="col-sm-3"><button name={{x.soldBy}} type="button" class="btn btn-info btn-lg"
									data-toggle="modal" data-target="#myModal" ng-click="a($event)"
									>Send Enquiry</button></div>
					</div>
			</li>
			<li class="list-group-item text-capitalize"
				ng-show="(myWelcome.length==0)&&count==0">No Results Found</li>
			<li class="list-group-item text-capitalize"
				ng-show="(myWelcome.length==0)&&count!=0">No More Results</li>

		</ul>

	</div>
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Send Enquiry</h4>
				</div>
				<div class="modal-body">
					<p>Contact Details<br/>Contact No. : {{sellerCno}}<br/>Email : {{sellerEmail}}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="">Send</button>
				</div>
			</div>

		</div>
	</div>
	<script>
		var app = angular.module('booksApp', ['ngTouch','ngCookies']);
		app.controller('myCtrl', ['$scope','$http','$cookies',function($scope, $http,$cookies) {
		$scope.class="fa fa-align-justify";
		$scope.changeClass=function(){
		if ($scope.class === "fa fa-align-justify")
      $scope.class = "fa fa-align-center";
    else
      $scope.class = "fa fa-align-justify";
		};
			$scope.a=function(obj){
			$scope.soldBy=obj.target.attributes.name.value;
			$http.get("/getUser?email="+$scope.soldBy).then(function(response) {
					$scope.sellerCno = response.data.cno;
					$scope.sellerEmail=response.data.email;
				});
			};
			$scope.pageSize = 10;
			var text;
			$scope.addButtons = function() {
				if (($scope.page + 5) * $scope.pageSize < $scope.count)
					$scope.page += 5;
				text = $scope.searchText;
			};
			$scope.subButtons = function() {
				$scope.page -= 5;
				text = $scope.searchText;
			};
			$scope.getBooks = function(obj) {
				//console.log("dd");
				if (text != $scope.searchText)
					$scope.page = 0;
				if (obj != null)
					var sk = obj.target.attributes.id.value;
				else
					sk = 1;
				console.log(sk);

				$http.get(
						"/allE?searchText="
								+ $scope.searchText + "&&skip=" + (sk - 1)
								* $scope.pageSize + "&&pageSize="
								+ $scope.pageSize+"&&email="+$cookies.get("user")).then(function(response) {
					$scope.myWelcome = response.data;
				});
				$http.get(
						"/countE?searchText="
								+ $scope.searchText+"&&email="+$cookies.get("user")).then(function(response) {
					$scope.count = response.data;
				});

			};
			$scope.searchText = "";
			$http.get(
					"/allE?searchText=&&email="+$cookies.get("user")+"&&skip=0&&pageSize="
							+ $scope.pageSize).then(function(response) {
				$scope.myWelcome = response.data;
			});

		}]);

		app.directive('count', function() {
			return {
				templateUrl : '/count?searchText='
						+ document.getElementById('searchText').value
			};
		});

		app.filter('regex', function() {
			return function(input, field, s) {
				var s = s.split(" ");
				//console.log(s);

				var x = "(.*)"
				for (var j = 0; j < s.length; j++) {
					x += (s[j] + "(.*)");
				}
				var patt = new RegExp(x, 'i');
				//console.log(patt);
				var out = [];
				for (var i = 0; i < input.length - 1; i++) {
					if (patt.test(input[i][field]))
						out.push(input[i]);
				}
				return out;
			};
		});
		app.filter('range', function() {
			return function(input, total, page, pageSize) {
				total = parseInt(total);
				if (total > 5)
					total = page + 4;
				for (var i = page; i <= total; i++) {
					input.push(i + 1);
				}

				return input;
			};
		});
		
	</script>
</body>
</html>