<html>
<head><script
	src="/js/angular.min.js"></script>

<link rel="stylesheet"
	href="/css/bootstrap.min.css">
<script
	src="/js/jquery-1.12.1.min.js"></script>
<script
	src="/js/bootstrap.min.js"></script>

		<script src="/js/angular-touch.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

			<script src="/js/angular-cookies.js"></script>
<meta name="viewport"
	content="height=device-height,width=device-width, initial-scale=1">
<style>
.noBorder{
border:0
}
.borderr{
border-style:solid,padding:10px}
</style>
</head>
<body ng-app="booksApp" ng-controller="my" ng-init="onload();open=false;edit=false">
{{count}}
<div class="list-group" style="display:flex">
	<ul>
		<li class="list-group-item text-capitalize" ng-repeat="x in myBooks" ng-style="x.status && {'background':'red'}">
			<label ng-click="open=!open" ng-class="{'fa fa-chevron-right':!open,'fa fa-chevron-down':open}" > Name: {{x.name}}</label>
				<div ng-show="open">	
<span name={{x._id}} id={{price}} checked={{checked}} ng-class="{'fa fa-pencil-square-o':!edit,'fa fa-floppy-o':edit}" ng-click="edit=!edit;saveChanges($event)"></span><br/>

			Price:	<input ng-class="{'noBorder':!edit,'borderr':edit}"type="number" ng-changed="p=price" ng-model="price" value={{x.price}} ng-readonly="!edit"></input>
				<br/>
			<span ng-show="edit">Sold: <input type="checkbox" ng-model="checked" ng-checked={{x.status}}></input></span></div>{{checked}}
</li>

	</ul>
</div>

		<script>
		var app=angular.module("booksApp",['ngCookies']);
		app.controller("my",['$scope','$http','$cookies','$rootScope',function($scope,$http,$cookies,$rootScope){
$rootScope.p=2;		$scope.saveChanges=function(obj){
		if(obj.target.attributes.class.value=="fa fa-floppy-o")
$http.get("/updateBook?id="+obj.target.attributes.name.value+"&&price="+obj.target.attributes.id.value+"&&status="+obj.target.checked).then(function(response) {
				});		
				
				};
		$scope.open=false;
		$scope.onload=function()
		{
		$http.get("/myBooks?email="+$cookies.get("user")).then(function(response) {
					$scope.myBooks=response.data;
					$scope.count=response.count;
				});};}]);
		</script>
	</body>

</html>