<html>

<head>
    <meta charset="ISO-8859-1">
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-height,width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03396c">
    <meta name="msapplication-navbutton-color" content="#03396c">
    <meta name="apple-mobile-web-app-status-bar-style" content="#03396c">
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="js/jquery.lazyloadxt.fadein.css">
    <script src="js/jquery-1.12.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/jquery.lazyloadxt.min.js"></script>
    <script type="text/javascript" src="js/cookies.js"></script>
    <link rel="stylesheet" type="text/css" href="css/test1.css">
    <script type="text/javascript" src="js/test1.js"></script>
    <link rel="stylesheet" type="text/css" href="css/register.css">
    <script type="text/javascript" src="js/register.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/angular-cookies.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
    <script src="bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="js/snap.svg-min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/m_elast.css" />
    <script src="js/jquery.typer.js"></script>

    <script>
    function clear()
    {
      sessionStorage.urls = "";
    }

    </script>

    <title>BOOKx</title>

</head>
<div class="js">
<body ng-app="booksApp" ng-controller="registerCtrl" ng-init="loading()">
<a href="#" id="return-to-top" style="z-index: 15000"><i class="fa fa-angle-up"></i></a>
      <div class="menu-wrap">
        <nav class="menu">
          <div class="icon-list">
            <a href=""><i class="fa fa-fw fa-bell-o"></i><span>Login</span></a>
            <a href="/categories"><i class="fa fa-fw fa-newspaper-o"></i><span>Categories</span></a>
            <a href="#"><i class="fa fa-fw fa-institution"></i><span>Schools</span></a>
            <a href="#"><i class="fa fa-fw fa-stack-overflow"></i><span>Colleges</span></a>
            <a href="#"><i class="fa fa-fw fa-question"></i><span>Find the<br />Right Book</span></a>
            <a href="#"><i class="fa fa-fw fa-cloud-upload"></i><span>Sell</span></a>

          </div>
        </nav>
        <button class="close-button" id="close-button">Close Menu</button>
        <div class="morph-shape" id="morph-shape" data-morph-open="M-1,0h101c0,0,0-1,0,395c0,404,0,405,0,405H-1V0z">
          <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 800" preserveAspectRatio="none">
            <path d="M-1,0h101c0,0-97.833,153.603-97.833,396.167C2.167,627.579,100,800,100,800H-1V0z"/>
          </svg>
        </div>
      </div>
      <div class="content-wrap">
      <div class="modal fade" id="modal1">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header" style="background: #f6f7f8">
                      <button class="close" data-dismiss="modal">&times;</button>
                      <h3 style="text-align: center;" class="pull-center modalcolor">Login to your BooksInsta account!</h3>
                  </div>
                  <div class="modal-body" id="loginModal" style="background: #f6f7f8">
                      <div class="row">
                          <div class="col-md-6 col-sm-6">
                              <h5 class="modalcolor">Login with Social Accounts</h5>
                              <button class="btn btn-primary" style="background-color:#2b85c3; color: #fff; border-radius: 0px; width: 100%; margin-top: 15px;"><i style="padding-right: 10px;" class="fa fa-facebook-f"></i>Facebook</button>
                              <button class="btn btn-primary" style="background-color:#d03a3c; color: #fff; border-radius: 0px; width: 100%; margin-top: 5px;"><i style="padding-right: 10px;" class="fa fa-google"></i>Google</button>
                              <br />
                              <a href="/register" style="color: #000"><h4>Don't have an account yet? Sign up now!</h4></a>
                          </div>
                          <div class="col-md-6 col-sm-6" style="border-left: 1px solid white;">
                              <h5 class="modalcolor">Login with Email</h5>
                              <div class="form-group modal-color">
                                  <!--<input type="text" placeholder="Email Id" ng-model="emailId" class=" form-control " />-->
                                  <div class="paper-input__wrapper" style="background-color: #f6f7f8">
                                      <input ng-model="emailId" class="form-control paper-input paper-input--floating" type="email" style="background-color: #f6f7f8" />
                                      <label style="">Email</label>
                                      <span class="bar"></span>
                                  </div>
                                  <span ng-show="wrongPass"><i class="fa fa-close" style="color: #b00b1e"></i> Wrong Password</span>
                                  <div class="paper-input__wrapper" style="background-color: #f6f7f8;">
                                      <input ng-model="pass" type="password" class="form-control paper-input paper-input--floating" style="background-color: #f6f7f8;box-shadow: none !important;" />
                                      <label>Password</label>
                                      <span class="bar"></span>
                                  </div>
                                  <button class="btn btn-primary form-control" ng-click="checkUser(emailId,pass)" style="border-radius: 0px; background-color: #2f9066">Login</button>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
      <div class="modal fade" id="modal2">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <ul class="list-inline">
                          <li>
                              <h3>Enter new pin code</h3></li>
                      </ul>
                  </div>
                  <div class="modal-body" id="loginModal">
                      <input type="number" ng-model="pincode" class="form-control" placeholder="Enter your pincode" ng-maxlength="6" ng-minlength="6"></input>
                      <button class="btn btn-primary" ng-click="sendPC()" ng-show="pincode" class="form-control">Submit</button>
                  </div>
              </div>
          </div>
      </div>

      <!-- header -->
        <div class="header ">

          <nav class="hidden-lg hidden-md hidden-sm navbar navbar-default navbar-fixed-top" style="background: #fff;  box-shadow: 0 1px 3px rgba(0,0,0,0.08); opacity: 0.988;">
            <div class="row shrink hidden-lg hidden-md hidden-sm" >
                <div class="col-xs-12 ">
                    <div class="row">
                      <div class="col-xs-1">

                      </div>
                        <div class="col-xs-5">
                            <img data-src="https://upload.wikimedia.org/wikipedia/commons/3/30/Myntra-Logo.png" style="margin-top:0.4em; max-width:100%; min-width:100%;" id="logott" />
                        </div>
                        <div class="col-xs-5">
                          <ul class="nav" style="vertical-align: middle">
                          <li class="dropdown pull-right">

                              <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="fa fa-user">&nbsp;</span>Pulkit <b class="caret"></b></a>

                              <ul class="dropdown-menu">

                                  <li><a href="#">Profile</a></li>

                                  <li><a href="#">Sell</a></li>

                                  <li class="divider"></li>

                                  <li><a href="#">Log out</a></li>

                              </ul>

                          </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
              <div class="col-xs-2">
  <button class="menu-button fa fa-bars" id="open-button">Open it</button>
</div>
<div class="col-xs-10 activems">
  <form class="navbar-form zmargin zpadding" style="margin-top: 0.5em;">
      <div class="input-group add-on">
        <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text" style="background-color: #f5f5f6; border-right: 0px; border-radius: 0.5em; border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
        <div class="input-group-btn">
          <button class="btn btn-default searchwalabtn" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>

  <!--
  <div class="search">
<input type="text" name="s" class="textbox" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
<input type="submit" value="Subscribe" id="submit" name="submit">
<div id="response"> </div>
 </div>
-->
 <!--
  <input type="text" style="vertical-align: middle; height: 2em; margin: 0.5em 0 0 0;  border: 1px solid #ff0000 !important; box-shadow: none; border-radius: none !important; outline: none !important;" placeholder="Find your Book"/>
-->
</div>
          </nav>
           <div class="logo-nav hidden-xs">

                <nav class="navbar navbar-default navbar-fixed-top" style="background: #fff; padding: 1em 2em 0em 4em; box-shadow: 0 1px 3px rgba(0,0,0,0.08); opacity: 0.988;">
                <!-- Brand and toggle get grouped for better mobile display -->

                <div class="navbar-header nav_2" >
                  <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <!--
                   <div class="navbar-brand logo-nav-left " style="padding: 0em 0 0 0;">
                     <img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Myntra-Logo.png" class="dp-logo" style="max-height: 2.5em; margin-top: 0.5em; " />

                  </div>
-->
                </div>
                <div class="collapse navbar-collapse">
                  <div class="row">
                    <div class="col-xs-2">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Myntra-Logo.png" class="dp-logo" style="max-width:100%; min-width:100%; " />
                    </div>
                    <div class="col-xs-5 navmarginli">
                      <div class="row">
                        <div class="col-xs-4">
                        <a class="" style="font-size: 1vw;">Find the right book!</a>
                      </div>
                      <div class="col-xs-3">
                      <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 1vw;">Categories</a>
                        <ul class="dropdown-menu multi">
                          <div class="row">
                            <div class="col-sm-4">
                              <ul class="multi-column-dropdown">
                                <h6>Submenu1</h6>

                                <li><a href="products.html">Accessories</a></li>
                                <li><a href="products.html">Bags</a></li>
                                <li><a href="products.html">Caps & Hats</a></li>
                                <li><a href="products.html">Hoodies & Sweatshirts</a></li>

                              </ul>
                            </div>
                            <div class="col-sm-4">
                              <ul class="multi-column-dropdown">
                                <h6>Submenu2</h6>
                                <li><a href="products.html">Jackets & Coats</a></li>
                                <li><a href="products.html">Jeans</a></li>
                                <li><a href="products.html">Jewellery</a></li>
                                <li><a href="products.html">Jumpers & Cardigans</a></li>
                                <li><a href="products.html">Leather Jackets</a></li>
                                <li><a href="products.html">Long Sleeve T-Shirts</a></li>

                              </ul>
                            </div>
                            <div class="col-sm-4">
                              <ul class="multi-column-dropdown">
                                <h6>Submenu3</h6>
                                <li><a href="products.html">Shirts</a></li>
                                <li><a href="products.html">Shoes, Boots & Trainers</a></li>
                                <li><a href="products.html">Sunglasses</a></li>
                                <li><a href="products.html">Sweatpants</a></li>
                                <li><a href="products.html">Swimwear</a></li>
                                <li><a href="products.html">Trousers & Chinos</a></li>

                              </ul>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                          <div class="row-top">
                            <div class="col-sm-6 row1">
                              <a href="products.html"><img src="images/me.jpg" alt="" class="img-responsive"></a>
                            </div>
                            <div class=" col-sm-6 row2">
                              <a href="products.html"><img src="images/me1.jpg" alt="" class="img-responsive"></a>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </ul>
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="dropdown" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 01vw;">Institutions & more</a>
                        <ul class="dropdown-menu multi">
                          <div class="row">
                            <div class="col-sm-4">
                              <ul class="multi-column-dropdown">
                                <h6>Submenu1</h6>

                                <li><a href="products.html">Accessories</a></li>
                                <li><a href="products.html">Bags</a></li>
                                <li><a href="products.html">Caps & Hats</a></li>
                                <li><a href="products.html">Hoodies & Sweatshirts</a></li>

                              </ul>
                            </div>
                            <div class="col-sm-4">
                              <ul class="multi-column-dropdown">
                                <h6>Submenu2</h6>
                                <li><a href="products.html">Jackets & Coats</a></li>
                                <li><a href="products.html">Jeans</a></li>
                                <li><a href="products.html">Jewellery</a></li>
                                <li><a href="products.html">Jumpers & Cardigans</a></li>
                                <li><a href="products.html">Leather Jackets</a></li>
                                <li><a href="products.html">Long Sleeve T-Shirts</a></li>

                              </ul>
                            </div>
                            <div class="col-sm-4">
                              <ul class="multi-column-dropdown">
                                <h6>Submenu3</h6>
                                <li><a href="products.html">Shirts</a></li>
                                <li><a href="products.html">Shoes, Boots & Trainers</a></li>
                                <li><a href="products.html">Sunglasses</a></li>
                                <li><a href="products.html">Sweatpants</a></li>
                                <li><a href="products.html">Swimwear</a></li>
                                <li><a href="products.html">Trousers & Chinos</a></li>

                              </ul>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                          <div class="row-top">
                            <div class="col-sm-6 row1">
                              <a href="products.html"><img src="images/me.jpg" alt="" class="img-responsive"></a>
                            </div>
                            <div class=" col-sm-6 row2">
                              <a href="products.html"><img src="images/me1.jpg" alt="" class="img-responsive"></a>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </ul>
                      </div>
                    </div>
                  </div>
                  </div>
                    <div class="col-xs-3 navmarginsearch">
                      <div class="input-group add-on">
                        <input class="form-control" placeholder="Search" ng-model="searchText" ng-change="getBooks()" list="somethingelse2" name="srch-term" id="srch-term" type="text" autocomplete="off" style="background-color: #f5f5f6; border-right: 0px; border-radius: 0.5em; border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                        <div class="input-group-btn">
                          <button class="btn btn-default searchwalabtn bigsearchwalabtn" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                      </div>
        <datalist id="somethingelse2">
<option  ng-click="open({{x._id}})" ng-repeat="x in myWelcome">{{x.title}}</option>
</datalist>
                    </div>
                    <div class="col-xs-1" style="border-right: 1px solid #e5e5e5;">
                  <a href="#" style="font-size: 1vw;">110033</a>
                </div>
                    <div class="col-xs-1">
                      <div class="dropdown pull-right" ng-show="loggedIn">

                          <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="font-size: 0.9vw;"><span class="fa fa-user">&nbsp;</span>Pulkit <b class="caret"></b></a>

                          <ul class="dropdown-menu">

                              <li><a href="#">Profile</a></li>

                              <li><a href="#">Sell</a></li>

                              <li class="divider"></li>

                              <li><a href="#">Log out</a></li>

                          </ul>

                      </div>
        <div class="pull-right" ng-hide='loggedIn'>
<a href="#" data-toggle="modal" class="dropdown-toggle" data-target="modal1"  style="font-size: 0.9vw;">Login </a>

        </div>
                    </div>
                  </div>
                </div>
                </nav>
              </div>

              </div>
  <div class="container-fluid" style="margin-top: 4em; margin-bottom: 2em;">
  <div class="row" style="">
	<div class=" col-sm-8 col-xs-12" style="border-right: 1px solid white; margin-top: 2em;">

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1" style="border: 1px solid #e5e5e5; text-align: center;">
        <h2 class=""  style="font-size: 22px; padding: 0.5em 0 0 0.5em; color: #000;">Create your account</h2>
        <h3 class="fs-subtitle" style="font-size: 14px; padding: 0em 0 0 0.5em;">USING YOUR SOCIAL MEDIA ACCOUNTS</h3>
        <div class="row">
          <div class="col-sm-1">

          </div>
            <div class="col-sm-2 col-xs-6" style="padding-right: 0px;">
                <a href="/auth/google" class=""><h4 style="color: #fff;padding: 1em 0.5em 1em 0.5em;font-size: 12px;margin: 1em 0em 0 0em; text-align: center; background: #dd4b39; border-radius: 3px;"><span class="fa fa-google-plus"></span>&nbsp;&nbsp;Google</h4></a>

            </div>
            <div class="col-sm-2 col-xs-6" style="padding-right: 0px;">
                <a href="/auth/instagram" class=""><h4 style="color: #fff;padding: 1em 0.5em 1em 0.5em;font-size: 12px;margin: 1em 0em 0 0em; text-align: center; background: #8a3ab9; border-radius: 3px;"><span class="fa fa-instagram"></span>&nbsp;&nbsp;Instagram</h4></a>

            </div>
            <div class="col-sm-2 col-xs-6" style="padding-right: 0px;">
                <a href="/auth/facebook" class=""><h4 style="color: #fff;padding: 1em 0.5em 1em 0.5em;font-size: 12px;margin: 1em 0em 0 0em; text-align: center; background: #3856a0; border-radius: 3px;"><span class="fa fa-facebook"></span>&nbsp;&nbsp;Facebook</h4></a>

            </div>
            <div class="col-sm-2 col-xs-6" style="padding-right: 0;">
                <a href="/auth/twitter" class=""><h4 style="color: #fff;padding: 1em 0.5em 1em 0.5em;font-size: 12px;margin: 1em 0em 0 0em; text-align: center; background: #4099ff; border-radius: 3px;"><span class="fa fa-twitter"></span>&nbsp;&nbsp;Twitter</h4></a>

            </div>
            <div class="col-sm-2 col-xs-6" style="padding-right: 0px;">
              <a href="/auth/goodreads" class="">
                <div style="background-color: #E6E2C5; padding: 0.5em 0 0.4em 0em; border-radius: 3px; text-align: center; margin-top: 0.8em;">
                <img src="img/goodreadsicon.png" style="width: 10%; max-width: 10%; display: inline;"/>
                <h4 style="color: #000;font-size: 12px;margin: 1em 0em 0 0em; text-align: center; background: #E6E2C5; display: inline;">Goodreads</h4>
              </div>
              </a>
            </div>
            <div class="col-sm-1">

            </div>
        </div>
        <h3 class="fs-subtitle" style="font-size: 14px; padding: 0em 0 0 0.5em; margin-top: 4em;"> - OR USING EMAIL - </h3>

        <h3 class="fs-subtitle formwarningtext" id="basicdetailswarningtext" style="font-size: 14px;"><i class="fa fa-warning"></i><span></span></h3>
        <input type="text" name="uname" ng-model="uname" placeholder="Name"  id="nameinput"  style="border: 1px solid #ddd; font-size: 16px; width: 80%; padding: 0.5em 1em 0.5em 1em; margin: 1em 0 0 0 ; border-radius: 5px;"/>
        <input type="email" name="email" ng-model="email" ng-change="checkEmail()"placeholder="Email" id="mailinput"   style="border: 1px solid #ddd; font-size: 16px; width: 80%; padding: 0.5em 1em 0.5em 1em; margin: 1em 0 0 0 ; border-radius: 5px;"/>
        <input type="password" name="pass" ng-model="pass" placeholder="Password" id="passinput"   style="border: 1px solid #ddd; font-size: 16px; width: 80%; padding: 0.5em 1em 0.5em 1em; margin: 1em 0 0 0 ; border-radius: 5px;"/>
        <input type="number" name="cno" ng-model="cno" placeholder="Contact Number" id="cnoinput"  style="border: 1px solid #ddd; font-size: 16px; width: 80%; padding: 0.5em 1em 0.5em 1em; margin: 1em 0 0 0 ; border-radius: 5px;"/>
        <input type="text" name="username" ng-model="username" placeholder="Choose your personal shop/collection username" ng-change="checkUsername()" id="usernameinput"   style="border: 1px solid #ddd; font-size: 16px; width: 80%; padding: 0.5em 1em 0.5em 1em; margin: 1em 0 0 0 ; border-radius: 5px;"/>
        <h3 class="fs-subtitle formwarningtext zpadding zmargin usernamewarningtext" style="font-size: 14px; margin-left: 10%; margin-top: 1em; margin-bottom: 0; padding-bottom: 0;"><i class="fa fa-times-circle"></i><span></span></h3>
        <input type="button" name="next" class="next action-button basicdetails" value="Register" ng-click="SendData()"  style="background-color: #e40046; margin:1em 1em 2em 1em; padding: 0.5em; width: 80%; color: #fff; border: 0px; border-radius: 5px;" />

      </div>
    </div>

		<!-- multistep form -->
		  <!-- fieldsets -->



        <!--
		  <fieldset>
		    <h2 class="fs-title">Your Interests</h2>
		    <h3 class="fs-subtitle">Your interests determine what you see oftenly in your feed</h3>
        <h3 class="fs-subtitle formwarningtext" id="interestdetailswarningtext"><i class="fa fa-warning"></i><span></span></h3>
        <div style="text-align: left; padding: 1em;">
          <h3 class="fs-subtitle">What describes you the best?</h3>
          <div>
  <input type="radio" id="radio01" ng-model="selltyperadio"name="selltyperadio" value="false" />
  <label for="radio01"><span></span>A reader</label>
</div>

<div>
 <input type="radio" id="radio02" ng-model="selltyperadio" name="selltyperadio" value="true" />
 <label for="radio02"><span></span>A seller</label>
</div>
        </div>
        <div>
          <h3 class="fs-subtitle">Your personal Interest Categories (Select Multiple)</h3>
          <select name="interestchoices" ng-model="interestchoices" id="uinterests" multiple="multiple">
      <option value="technology">Technology</option>
      <option value="education">Education</option>
      <option value="novel">Novel</option>
    </select>
        </div>
        <div>
          <h3 class="fs-subtitle">Select a course if applicable</h3>
          <select name="ucourse" ng-model="ucourse" id="ucourse">
      <option value="technology">B.Tech</option>
      <option value="education">MBBS</option>
      <option value="novel">Higher Education</option>
    </select>
        </div>
		    <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="button" name="next" class="next action-button interestdetails" value="Next" />

      </fieldset>
      <fieldset>
        <h2 class="fs-title">Personal Info</h2>

        <input type="text" name="uaddr" ng-model="uaddr" placeholder="Enter your  address" id="addrinput" ng-change="getPinCode()"/>
		<input type="tel" ng-model="pincodee" name="pincode" id="pcinput" placeholder="Enter your pincode" ng-maxlength="6" ng-minlength="6"></input>

        <input type="button" name="previous" class="previous action-button otherdetails" value="Previous" />
        <input type="submit" name="submit" class="submit action-button" value="Submit" ng-click="SendData()" />

      </fieldset>
    -->
	</div>
  <div class="col-md-4 col-sm-4 col-xs-12" style="background-image: url(''); background-repeat: none;  margin-top: 2em;">
<!--
    <ol class="list-group vertical-steps">
      <li class="list-group-item completed"><span><h4>Register</h4>Get Online on India's first one-stop book portal and explore thousands of books available in your area</b></span></li>
      <li class="list-group-item"><span><h4>Buy Old and New Books</h4>Get Online on India's first one-stop book portal</b></span></li>
      <li class="list-group-item"><span><h4>Sell your book</h4>Get Online on India's first one-stop book portal</b></span></li>
      <li class="list-group-item"><span><h4>Maintain your read list</h4>Get Online on India's first one-stop book portal</b></span></li>

    </ol>
  -->
      <div class="" style="border-radius: 2%; background-color: #f7f7f7; border: 1px solid #ddd; color: #fff; margin-left: 0; margin-right: 0; margin-top: 0;">
          <div class="row">

              <div class="col-xs-12" style="margin: 1em 1em 0 0; ">
                  <h4 style="font-family: bbcard; margin-top:0.8em;  margin: 0.8em 0 10px 1em; color: #444;">MEMBERSHIP CARD</h4>
              </div>
              <div class="col-xs-9">
                  <h4 style="padding-left: 2em; font-family: bbcard; color: #000;">BB 2665 7222 2000 0005</h4>
                  <h4 style="padding-left: 2em; font-size: 0.9em ; color: #444; font-family: bbcard; padding-bottom: 0.6em; margin-bottom: 0px;" id="">&nbsp;-&nbsp;<span id="cardnametarget">Start Typing Your Name</span></h4>
              </div>
              <div class="col-xs-2">
                  <img style="min-width: 100%; max-width: 100%;" src="https://pbs.twimg.com/profile_images/761590703252267014/JvFFrSp3_400x400.jpg" />
              </div>
          </div>
          <div class="row">
              <h4 class="pull-right" style="padding: 0 2em 0 0; margin: 0 0 1em 0;  font-family: bbcard; font-size: 0.7em; margin-right: 1em; color: #555;">Valid Till 01/2021</h4>

          </div>

      </div>
  <div class="Regadvert" style="margin: 1em 0 0 1em;">
      <div class="row">
          <div class="col-xs-3">
              <div class="" style="background-image: url('img/sprite-cmn3.png'); background-position: 4px 116px; height: 63px; width: 63px; "></div>
          </div>
          <div class="col-xs-9">
              <h4 style="font-size: 14px; padding: 0 0 0 1em; font-weight: 600;">Buy/Sell Old & New Books</h4>
              <h5 style="font-size: 12px; margin: 0; padding: 0 0 0 1em;">India's first dedicated platform for books.</h5>
          </div>
      </div>
  </div>
  <div class="Regadvert" style="margin: 1em 0 0 1em;">
      <div class="row">
          <div class="col-xs-3">
              <div class="" style="background-image: url('img/sprite-cmn3.png'); background-position: -59px 116px; height: 63px; width: 63px; "></div>
          </div>
          <div class="col-xs-9">
              <h4 style="font-size: 14px; padding: 0 0 0 1em; font-weight: 600;">Reading Lists</h4>
              <h5 style="font-size: 12px; margin: 0; padding: 0 0 0 1em;">Explore hundreds of reading lists and maintain your personal read lists.</h5>
          </div>
      </div>
  </div>
  <div class="Regadvert" style="margin: 1em 0 0 1em;">
      <div class="row">
          <div class="col-xs-3">
              <div class="" style="background-image: url('img/sprite-cmn3.png'); background-position: -130px 116px; height: 63px; width: 63px; "></div>
          </div>
          <div class="col-xs-9">
              <h4 style="font-size: 14px; padding: 0 0 0 1em; font-weight: 600;">Reading Lists</h4>
              <h5 style="font-size: 12px; margin: 0; padding: 0 0 0 1em;">Explore a community of readers and maintain your personal read lists.</h5>
          </div>
      </div>
  </div>
  <div class="Regadvert" style="margin: 1em 0 0.8em 1em;">
      <div class="row">
          <div class="col-xs-3">
              <div class="" style="background-image: url('img/sprite-cmn3.png'); background-position: 4px 116px; height: 63px; width: 63px; "></div>
          </div>
          <div class="col-xs-9">
              <h4 style="font-size: 14px; padding: 0 0 0 1em; font-weight: 600;">Buy/Sell Old & New Books</h4>
              <h5 style="font-size: 12px; margin: 0; padding: 0 0 0 1em;">India's first dedicated platform for books.</h5>
          </div>
      </div>
  </div>
  </div>
</div>
</div>
</div>
</body>
</div>
<link rel="stylesheet" type="text/css" href="/bower_components2/flexslider/flexslider.css">
	<script src="/bower_components2/flexslider/jquery.flexslider.js"></script>
	<script src="/bower_components2/angular-flexslider/angular-flexslider.js"></script>
  <script src="js/classie.js"></script>
  <script src="js/main3.js"></script>

</html>
