<!DOCTYPE html>
<html ng-app="booksApp" ng-controller="myCtrl" ng-cloak>

<head>
    <meta charset="ISO-8859-1">
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-height,width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03396c">
    <meta name="msapplication-navbutton-color" content="#03396c">
    <meta name="apple-mobile-web-app-status-bar-style" content="#03396c">
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="js/jquery.lazyloadxt.fadein.css">
    <script src="js/jquery-1.12.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/jquery.lazyloadxt.min.js"></script>
    <script type="text/javascript" src="js/cookies.js"></script>
    <link rel="stylesheet" type="text/css" href="css/test1.css">
    <script type="text/javascript" src="js/test1.js"></script>
    <script type="text/javascript" src="js/searchApp.js"></script>
    <script type="text/javascript" src="js/angular-cookies.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>

    <link rel="stylesheet" href="bower_components/wookmark/css/main.css">

    <script src="bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="bower_components/wookmark/wookmark.js"></script>



    <link href="css/snack/snackbar.min.css" rel="stylesheet">
    <link href="css/snack/material.css" rel="stylesheet">
    <script src="js/snack/snackbar.min.js"></script>
    <!-- start menu -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <!--<link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />-->
    <link href="css/style_pro.css" rel="stylesheet" type="text/css" media="all" />
<!--    <script type="text/javascript" src="js/megamenu.js"></script>-->

    <script>
        function showw() {

            $('#mapModal').modal({
                show: true,
                backdrop: 'static',
                keyboard: false
            })
        }

        function hideModal() {
            $('#mapModal').modal('hide');
        }
    </script>
    <style>
        /**
       * Grid items
       */

        .tiles-wrap li {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .tiles-wrap li img {
            width: 100%;
            height: auto;
        }
    </style>
    <title>BOOKx</title>

</head>
<div class="js">

    <body ng-init="load()" id="MainWrap">
        <div id="preloader"></div>
            <a href="#" id="return-to-top" style="z-index: 15000"><i class="fa fa-angle-up"></i></a>
            <div class="modal fade" id="modal1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="background: #f6f7f8">
                            <button class="close" data-dismiss="modal">&times;</button>
                            <h3 style="text-align: center;" class="pull-center modalcolor">Login to your BooksInsta account!</h3>
                        </div>
                        <div class="modal-body" id="loginModal" style="background: #f6f7f8">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <h5 class="modalcolor">Login with Social Accounts</h5>
                                    <button class="btn btn-primary" style="background-color:#2b85c3; color: #fff; border-radius: 0px; width: 100%; margin-top: 15px;"><i style="padding-right: 10px;" class="fa fa-facebook-f"></i>Facebook</button>
                                    <button class="btn btn-primary" style="background-color:#d03a3c; color: #fff; border-radius: 0px; width: 100%; margin-top: 5px;"><i style="padding-right: 10px;" class="fa fa-google"></i>Google</button>
                                    <br />
                                    <a href="/register" style="color: #000"><h4>Don't have an account yet? Sign up now!</h4></a>
                                </div>
                                <div class="col-md-6 col-sm-6" style="border-left: 1px solid white;">
                                    <h5 class="modalcolor">Login with Email</h5>
                                    <div class="form-group modal-color">
                                        <!--<input type="text" placeholder="Email Id" ng-model="emailId" class=" form-control " />-->
                                        <div class="paper-input__wrapper" style="background-color: #f6f7f8">
                                            <input ng-model="emailId" class="form-control paper-input paper-input--floating" type="email" style="background-color: #f6f7f8" />
                                            <label style="">Email</label>
                                            <span class="bar"></span>
                                        </div>
                                        <span ng-show="wrongPass"><i class="fa fa-close" style="color: #b00b1e"></i> Wrong Password</span>
                                        <div class="paper-input__wrapper" style="background-color: #f6f7f8;">
                                            <input ng-model="pass" type="password" class="form-control paper-input paper-input--floating" style="background-color: #f6f7f8;box-shadow: none !important;" />
                                            <label>Password</label>
                                            <span class="bar"></span>
                                        </div>
                                        <button class="btn btn-primary form-control" ng-click="checkUser(emailId,pass)" style="border-radius: 0px; background-color: #2f9066">Login</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="mapModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <ul class="list-inline">
                                <li>
                                    <h3>Enter new pin code</h3></li>
                            </ul>
                        </div>
                        <div class="modal-body" id="loginModal">
                            <input type="number" ng-model="pincode" class="form-control" placeholder="Enter your pincode" ng-maxlength="6" ng-minlength="6"></input>
                            <button class="btn btn-primary" ng-click="sendPC()" ng-show="pincode" class="form-control">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- header -->
            	<div class="header">
            		<!--
            			<div class="header-grid">
            					<div class="container">
            				<div class="header-left animated wow fadeInLeft" data-wow-delay=".5s">
            					<ul>
            					<li><i class="glyphicon glyphicon-headphones"></i><a href="#">24x7 live support</a></li>
            						<li><i class="glyphicon glyphicon-envelope" ></i><a href="mailto:info@example.com">@example.com</a></li>
            						<li><i class="glyphicon glyphicon-earphone" ></i>+1234 567 892</li>

            					</ul>
            				</div>
            				<div class="header-right animated wow fadeInRight" data-wow-delay=".5s">
            				<div class="header-right1 ">
            					<ul>

            						<li><i class="glyphicon glyphicon-log-in" ></i><a href="login.html">Login</a></li>
            						<li><i class="glyphicon glyphicon-book" ></i><a href="register.html">Register</a></li>
            					</ul>
            				</div>
            				<div class="header-right2">
            					<div class="cart box_1">
            						<a href="checkout.html">
            							<h3> <div class="total">
            								<span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</div>
            								<img src="images/cart.png" alt="" />
            							</h3>
            						</a>
            						<p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
            						<div class="clearfix"> </div>
            					</div>
            				</div>
            				<div class="clearfix"> </div>
            				</div>
            				<div class="clearfix"> </div>
            			</div>
            			</div>
            		-->
            			<div class="logo-nav">

            					<nav class="navbar navbar-default navbar-fixed-top" style="background: #fff; padding: 1em 2em 0em 4em; box-shadow: 0 1px 3px rgba(0,0,0,0.08); opacity: 0.988;">
            					<!-- Brand and toggle get grouped for better mobile display -->

                      <div class="navbar-header nav_2" >
            						<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
            							<span class="sr-only">Toggle navigation</span>
            							<span class="icon-bar"></span>
            							<span class="icon-bar"></span>
            							<span class="icon-bar"></span>
            						</button>
            						 <div class="navbar-brand logo-nav-left " style="padding: 0em 0 0 0;">
                           <img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Myntra-Logo.png" style="max-height: 2.5em; margin-top: 0.5em; " />

                        </div>

            					</div>
            					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
            						<ul class="nav navbar-nav" style="padding-left: 2em;">
            							<!-- Mega Menu -->
            							<li class="dropdown">
            								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Books<b class="caret"></b></a>
            								<ul class="dropdown-menu multi">
            									<div class="row">
            										<div class="col-sm-4">
            											<ul class="multi-column-dropdown">
            												<h6>Submenu1</h6>

            												<li><a href="products.html">Accessories</a></li>
            												<li><a href="products.html">Bags</a></li>
            												<li><a href="products.html">Caps & Hats</a></li>
            												<li><a href="products.html">Hoodies & Sweatshirts</a></li>

            											</ul>
            										</div>
            										<div class="col-sm-4">
            											<ul class="multi-column-dropdown">
            												<h6>Submenu2</h6>
            												<li><a href="products.html">Jackets & Coats</a></li>
            												<li><a href="products.html">Jeans</a></li>
            												<li><a href="products.html">Jewellery</a></li>
            												<li><a href="products.html">Jumpers & Cardigans</a></li>
            												<li><a href="products.html">Leather Jackets</a></li>
            												<li><a href="products.html">Long Sleeve T-Shirts</a></li>

            											</ul>
            										</div>
            										<div class="col-sm-4">
            											<ul class="multi-column-dropdown">
            												<h6>Submenu3</h6>
            												<li><a href="products.html">Shirts</a></li>
            												<li><a href="products.html">Shoes, Boots & Trainers</a></li>
            												<li><a href="products.html">Sunglasses</a></li>
            												<li><a href="products.html">Sweatpants</a></li>
            												<li><a href="products.html">Swimwear</a></li>
            												<li><a href="products.html">Trousers & Chinos</a></li>

            											</ul>
            										</div>
            										<div class="clearfix"></div>
            									</div>
            									<div class="row-top">
            										<div class="col-sm-6 row1">
            											<a href="products.html"><img src="images/me.jpg" alt="" class="img-responsive"></a>
            										</div>
            										<div class=" col-sm-6 row2">
            											<a href="products.html"><img src="images/me1.jpg" alt="" class="img-responsive"></a>
            										</div>
            										<div class="clearfix"></div>
            									</div>
            								</ul>
            							</li>
            							<li class="dropdown">
            								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Packages <b class="caret"></b></a>
            								<ul class="dropdown-menu multi multi1">
            									<div class="row">
            										<div class="col-sm-4">
            											<ul class="multi-column-dropdown">
            												<h6>Submenu1</h6>

            												<li><a href="products1.html">Accessories</a></li>
            												<li><a href="products1.html">Bags</a></li>
            												<li><a href="products1.html">Caps & Hats</a></li>
            												<li><a href="products1.html">Hoodies & Sweatshirts</a></li>

            											</ul>
            										</div>
            										<div class="col-sm-4">
            											<ul class="multi-column-dropdown">
            												<h6>Submenu2</h6>
            												<li><a href="products1.html">Jackets & Coats</a></li>
            												<li><a href="products1.html">Jeans</a></li>
            												<li><a href="products1.html">Jewellery</a></li>
            												<li><a href="products1.html">Jumpers & Cardigans</a></li>
            												<li><a href="products1.html">Leather Jackets</a></li>
            												<li><a href="products1.html">Long Sleeve T-Shirts</a></li>

            											</ul>
            										</div>
            										<div class="col-sm-4">
            											<ul class="multi-column-dropdown">
            												<h6>Submenu3</h6>
            												<li><a href="products1.html">Shirts</a></li>
            												<li><a href="products1.html">Shoes, Boots & Trainers</a></li>
            												<li><a href="products1.html">Sunglasses</a></li>
            												<li><a href="products1.html">Sweatpants</a></li>
            												<li><a href="products1.html">Swimwear</a></li>
            												<li><a href="products1.html">Trousers & Chinos</a></li>

            											</ul>
            										</div>
            										<div class="clearfix"></div>
            									</div>
            									<div class="row-top">
            										<div class="col-sm-6 row1">
            											<a href="products1.html"><img src="images/me2.jpg" alt="" class="img-responsive"></a>
            										</div>
            										<div class=" col-sm-6 row2">
            											<a href="products1.html"><img src="images/me3.jpg" alt="" class="img-responsive"></a>
            										</div>
            										<div class="clearfix"></div>
            									</div>
            								</ul>
            							</li>

            							<li><a href="codes.html"> Find the right book</a></li>
                          <li style="margin-left: 2em;">  <div class="search">
                  				<input type="text" name="s" class="textbox" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                  				<input type="submit" value="Subscribe" id="submit" name="submit">
                  				<div id="response"> </div>
                  		     </div></li>

            						</ul>
                        	<ul class="nav navbar-nav" style="float: right">
                            <li style="border-left: 1px solid #f5f5f6;"><a href="#" data-toggle="modal" data-target="modal1" data-keyboard="false"> 110033</a></li>
                            <li style="border-left: 1px solid #f5f5f6;"><a href="codes.html"> Login</a></li>
                          </ul>
            					</div>
            					</nav>
            				</div>

            	</div>
            <!-- //header -->
            <!--Nav and header secion -->
            <!--
            <div class="navbar navbar-fixed-top navbar-default" style="border:0px; padding: 0px; margin">
            <div class="row shrink">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navtop">
                        <div class="container" style="text-align: center; ">
                            <ul class="nav navbar-nav">
                                <li class="navbarlink"><a href="#">Contact us</a></li>
                                <li class="navbarlink"><a href="#">Find the right book</a></li>
                                <li class="navbarlink"><a href="#">Change City</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="navbarlink"><a href="#">All Categories</a></li>
                                <li class="navbarlink"><a href="#">Sell Your Book</a></li>
                                <li class="navbarlink"><a href="#">My Books</a></li>
                                <li ng-show="!pincode" class="navbarlink"><a href="#" data-toggle="modal" data-target="#mapModal">Change location</a></li>
                                <li ng-show="pincode" class="navbarlink"><a href="#" data-toggle="modal" data-target="#mapModal"> {{pincode}} </a></li>
                                <li ng-hide="loggedIn" class="navbarlink"><a id="loginbuttonid" ng-href="#" class="loginbutton" data-toggle="modal" data-target="#modal1" data-keyboard="false" >Login/Sign Up</a></li>
                                <li ng-show="loggedIn" class="navbarlink"><a id="loginbuttonid" ng-href="{{loginUrl}}" class="loginbutton" >{{loginSpan}}</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <!- Mobile only ->
            <div class="row shrink" style="padding: 0px; margin: 0px;">
                <div class="col-xs-12 hidden-md hidden-sm hidden-lg">
                    <div class="row">
                        <div class="col-xs-2" style="text-align:center; margin-top:0.8em;">
                            <i id="msidebartoggle" class="fa fa-bars" style="font-size: 1.5em"></i>
                        </div>
                        <div class="col-xs-5">
                            <img data-src="http://i1.sdlcdn.com/img/storeFrontFeaturedProductAdmin/12/NewSnapdealLogo15045.png" style="margin-top:0.4em; max-width:100%; min-width:100%;" id="logott" />
                        </div>
                    </div>
                </div>
            </div>
          -->

                <!--End Mobile only -->
                <!--
                <nav class="navbar navbar" style="margin: 0px; padding: 0px; background: #fff;">
 <div class="container-fluid">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="#"><img src="http://i1.sdlcdn.com/img/storeFrontFeaturedProductAdmin/12/NewSnapdealLogo15045.png" /></a>
   </div>
   <div class="collapse navbar-collapse" id="myNavbar">
     <ul class="nav navbar-nav" class="omgdrop">
       <li><a  class="dropper" id="booksdropperot" href="#">Books</a></li>
       <div id="booksdropped1" style="width: 83%; position: relative; top: 25%; display: none">
          <ul>
            <li>
              abc
            </li>
            <li>
              abc
            </li>
          </ul>
       </div>
       <li><a href="#">Page 1</a></li>
       <li><a href="#">Page 2</a></li>
       <li><a href="#">Page 3</a></li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
       <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
       <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
     </ul>
   </div>
 </div>
</nav>
                <div class="row" id="cusnav">
                    <div class="header_bottom">
                        <div class="container">
                            <div class="col-xs-8 header-bottom-left">
                                <div class="col-xs-2 logo" style="border: 0px;">
                                    <h1><a href="index.html"><span>Buy</span>shop</a></h1>
                                </div>
                                <div class="col-xs-6 menu">
                                    <ul class="megamenu skyblue">
                                        <li class="active grid"><a class="color1" href="index.html">Men</a>
                                            <div class="megapanel">
                                                <div class="row">
                                                    <div class="col1">
                                                        <div class="h_nav">
                                                            <ul>
                                                                <li><a href="men.html">Accessories</a></li>
                                                                <li><a href="men.html">Bags</a></li>
                                                                <li><a href="men.html">Caps & Hats</a></li>
                                                                <li><a href="men.html">Hoodies & Sweatshirts</a></li>
                                                                <li><a href="men.html">Jackets & Coats</a></li>
                                                                <li><a href="men.html">Jeans</a></li>
                                                                <li><a href="men.html">Jewellery</a></li>
                                                                <li><a href="men.html">Jumpers & Cardigans</a></li>
                                                                <li><a href="men.html">Leather Jackets</a></li>
                                                                <li><a href="men.html">Long Sleeve T-Shirts</a></li>
                                                                <li><a href="men.html">Loungewear</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col1">
                                                        <div class="h_nav">
                                                            <ul>
                                                                <li><a href="men.html">Shirts</a></li>
                                                                <li><a href="men.html">Shoes, Boots & Trainers</a></li>
                                                                <li><a href="men.html">Shorts</a></li>
                                                                <li><a href="men.html">Suits & Blazers</a></li>
                                                                <li><a href="men.html">Sunglasses</a></li>
                                                                <li><a href="men.html">Sweatpants</a></li>
                                                                <li><a href="men.html">Swimwear</a></li>
                                                                <li><a href="men.html">Trousers & Chinos</a></li>
                                                                <li><a href="men.html">T-Shirts</a></li>
                                                                <li><a href="men.html">Underwear & Socks</a></li>
                                                                <li><a href="men.html">Vests</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col1">
                                                        <div class="h_nav">
                                                            <h4>Popular Brands</h4>
                                                            <ul>
                                                                <li><a href="men.html">Levis</a></li>
                                                                <li><a href="men.html">Persol</a></li>
                                                                <li><a href="men.html">Nike</a></li>
                                                                <li><a href="men.html">Edwin</a></li>
                                                                <li><a href="men.html">New Balance</a></li>
                                                                <li><a href="men.html">Jack & Jones</a></li>
                                                                <li><a href="men.html">Paul Smith</a></li>
                                                                <li><a href="men.html">Ray-Ban</a></li>
                                                                <li><a href="men.html">Wood Wood</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="grid"><a class="color2" href="#">Women</a>
                                            <div class="megapanel">
                                                <div class="row">
                                                    <div class="col1">
                                                        <div class="h_nav">
                                                            <ul>
                                                                <li><a href="men.html">Accessories</a></li>
                                                                <li><a href="men.html">Bags</a></li>
                                                                <li><a href="men.html">Caps & Hats</a></li>
                                                                <li><a href="men.html">Hoodies & Sweatshirts</a></li>
                                                                <li><a href="men.html">Jackets & Coats</a></li>
                                                                <li><a href="men.html">Jeans</a></li>
                                                                <li><a href="men.html">Jewellery</a></li>
                                                                <li><a href="men.html">Jumpers & Cardigans</a></li>
                                                                <li><a href="men.html">Leather Jackets</a></li>
                                                                <li><a href="men.html">Long Sleeve T-Shirts</a></li>
                                                                <li><a href="men.html">Loungewear</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col1">
                                                        <div class="h_nav">
                                                            <ul>
                                                                <li><a href="men.html">Shirts</a></li>
                                                                <li><a href="men.html">Shoes, Boots & Trainers</a></li>
                                                                <li><a href="men.html">Shorts</a></li>
                                                                <li><a href="men.html">Suits & Blazers</a></li>
                                                                <li><a href="men.html">Sunglasses</a></li>
                                                                <li><a href="men.html">Sweatpants</a></li>
                                                                <li><a href="men.html">Swimwear</a></li>
                                                                <li><a href="men.html">Trousers & Chinos</a></li>
                                                                <li><a href="men.html">T-Shirts</a></li>
                                                                <li><a href="men.html">Underwear & Socks</a></li>
                                                                <li><a href="men.html">Vests</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col1">
                                                        <div class="h_nav">
                                                            <h4>Popular Brands</h4>
                                                            <ul>
                                                                <li><a href="men.html">Levis</a></li>
                                                                <li><a href="men.html">Persol</a></li>
                                                                <li><a href="men.html">Nike</a></li>
                                                                <li><a href="men.html">Edwin</a></li>
                                                                <li><a href="men.html">New Balance</a></li>
                                                                <li><a href="men.html">Jack & Jones</a></li>
                                                                <li><a href="men.html">Paul Smith</a></li>
                                                                <li><a href="men.html">Ray-Ban</a></li>
                                                                <li><a href="men.html">Wood Wood</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li><a class="color4" href="about.html">About</a></li>
                                        <li><a class="color5" href="404.html">Blog</a></li>
                                        <li><a class="color6" href="contact.html">Support</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-4 header-bottom-right">
                                <div class="box_1-cart">
                                    <div class="box_11">
                                        <a href="#">
                                            <h4><p>Login</p><div class="clearfix"></div></h4>
                                        </a>
                                    </div>
                                    <p class="empty"><a class="simpleCart_empty">110033</a></p>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="search">
                                    <input type="text" name="s" class="textbox" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                                    <input type="submit" value="Subscribe" id="submit" name="submit">
                                    <div id="response"> </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                  -->
                    <!--

                <div class="col-md-2 col-sm-2 col-xs-1"></div>
                <div class="col-md-2 col-sm-2 col-xs-0 hidden-xs " style="padding: 0px;">
                    <div class="navbar-header pull-right" style="padding: 0px;">
                        <img data-src="http://i1.sdlcdn.com/img/storeFrontFeaturedProductAdmin/12/NewSnapdealLogo15045.png" style="margin-top:0.4em; max-width:100%; min-width:100%;" id="logott" />
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-8" id="nav2">
                    <div class="form-group">
                        <input style="border: 1px solid #e1e0e; z-index: 15000;" id="searchText" ng-change="getBooks()" ng-model="searchText" type="text" class="sbar form-control" method="post" placeholder="  Find your book now!" list="somethingelse2" />
                        <div class="row">
                            <div id="searchResults" class="col-md-12 col-sm-12">
                                <ul id="innersearchResults" class="pull-left">
                                    <li class="searchresultli" ng-repeat='x in myWelcome.slice(0,5) track by $index'>
                                        <a class="searchresultlink" href="#">{{x.title}}
                                </a>
                                    </li>
                                  <li class="searchresultli" >
                                        <a class="searchresultlink" href="#">Explore All
                                </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 searchbtnnav">
                    <button class="btn btn-primary" style="background-color: #03396c; border-radius: 0px;">Search</button>
                </div>
                </div>
        -->
            <!--Nav and header secion end-->
            <div class="container-fluid" style="margin-top: 1em; background: #fff; margin-top: 4em;">

                <div class="row" id="homecontent">
                    <div class="col-md-8 col-sm-8">


                        <div id="car1" class="carousel slide bsf-shadow" data-interval="3000" data-ride="carousel">

                            <div class="carousel-inner">
                                <div class="item active">
                                    <a><img src="https://geo-media.beatport.com/image/12951013.jpg"></a>
                                </div>
                                <div class="item">
                                    <a><img src="https://geo-media.beatport.com/image/12951012.jpg"></a>
                                </div>
                                <div class="item">
                                    <a><img src="https://geo-media.beatport.com/image/12951015.jpg"></a>
                                </div>
                                <!--
                            <div class="item" ng-repeat="x in adminData.slider">
                                <a href="{{x.target}}"><img ng-src="{{x.image}}" /></a>

                            </div>
                          -->

                            </div>

                            <a data-target="#car1" id="car1left" class="left carousel-control" data-slide="prev">
                                <img src="img/slider-left.png" class="pull-left" />
                            </a>
                            <a data-target="#car1" id="car1right" class="right carousel-control" data-slide="next">
                                <img src="img/slider-right.png" class="pull-right" />
                            </a>
                        </div>


                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="item" style="margin-bottom: 10px;">
                            <a href="#"><img class="img-responsive bsf-shadow-top" style="width: 100%; min-width: 100%" src="http://goodstuffnononsense.com/wp-content/uploads/2016/06/school-p1-400x260.jpg" /></a>
                            <div class="item-overlay top"></div>
                        </div>
                        <div class="item">
                            <a href="#"><img class="img-responsive bsf-shadow-top" style="width: 100%; min-width: 100%" src="https://s3.amazonaws.com/magoosh-company-site/wp-content/uploads/toefl/files/2016/06/06182325/Want-TOEFL-speaking-topics-strategies-and-samples.jpg"
                                /></a>
                            <div class="item-overlay top"></div>
                        </div>
                    </div>
                    <!--
                <div class="col-md-4 col-sm-4">

                    <div class="mcardback bsf-shadow" id="findtherightbookdiv" style="background-color: #ffffff; border-radius: 2%;">
                        <p style="font-size: 16px; text-align: center; padding-top: 0.5em; padding-bottom: 0.5em; background-color: #03396c; color: #ffffff;">
                            FIND THE RIGHT BOOK!
                        </p>
                        <div class="row">
                            <div class="col-md-1 col-sm-1 col-xs-1">

                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <div class="paper-input__wrapper">
                                    <input class="paper-input paper-input--floating" type="text" />
                                    <label>Enter a topic</label>
                                    <span class="bar"></span>
                                </div>
                            </div>
                        </div><p style="margin-left: 2em; padding-bottom: 2em; margin-top: 0px; color:#888; font-size: 12px;">Don't know which book to buy?
                            <br /> Just type the Topic and pick the best related book, out of our database!

                        </p>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">

                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-6">


                        </div>


                    </div>


                </div>
-->
                </div>


                <div class="row" style="margin-top:1em;">
                    <div class="box_1">
                        <div class="col-md-7">
                            <div class="section group">
                                <div class="col_1_of_3 span_1_of_3 simpleCart_shelfItem">
                                    <div class="shop-holder">
                                        <div class="product-img">
                                            <a href="single.html">
                                                <img width="225" height="265" data-src="http://media.theworks.co.uk/images/kit20774_Z.jpg" class="img-responsive" alt="item4"> </a>
                                            <a href="" class="button item_add"></a>
                                        </div>
                                    </div>
                                    <div class="shop-content" style=";">
                                        <h3><a  style="color: #000" href="single.html">B.Tech</a></h3>
                                    </div>
                                </div>
                                <div class="col_1_of_3 span_1_of_3 simpleCart_shelfItem">
                                    <div class="shop-holder">
                                        <div class="product-img">
                                            <a href="single.html">
                                                <img width="225" height="265" data-src="http://media.theworks.co.uk/images/kit20899_M.jpg" class="img-responsive" alt="item4"> </a>
                                            <a href="" class="button item_add"></a>
                                        </div>
                                    </div>
                                    <div class="shop-content" style=";">
                                        <h3><a  style="color: #000" href="single.html">M.B.B.S</a></h3>
                                    </div>
                                </div>
                                <div class="col_1_of_3 span_1_of_3 simpleCart_shelfItem">
                                    <div class="shop-holder">
                                        <div class="product-img">
                                            <a href="single.html">
                                                <img width="225" height="265" data-src="http://mba.ind.in/images/GATE-Preparation-to-get-into-IIT-3.jpg" class="img-responsive" alt="item4"> </a>
                                            <a href="#" class="button item_add"></a>
                                        </div>
                                    </div>
                                    <div class="shop-content" style=";">
                                        <h3><a style="color: #000" href="single.html">Law</a></h3>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-5 row_3">
                            <div class="about-block-content" style="background: #fff; padding-top: 0px; padding-bottom: 0px;">
                                <a href="#"><h4 style="color: #000">Verified Packages</h4></a>
                                <div class="item">
                                    <a href="#"><img data-src="https://img04.olx.in/images_olxin/204505961_1_1000x700_narayana-packages-maths-phy-and-chem-delhi.jpg" class="img-responsive" alt="" /></a>
                                    <div class="item-overlay top"></div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
<div class="row">
  <ul id="container" class="tiles-wrap animated">
          <!-- These are our grid blocks -->
          <li><img data-src="http://www.bizporto.com/CustomerData/Products/Large/62772000003.jpg?0816065140"><p>1</p></li>
          <li><img data-src="http://www.adpost.com/classifieds/upload/sg/books/sg_books.3812.1.jpg" ><p>2</p></li>
          <li><img data-src="https://sulungprasetyo.files.wordpress.com/2013/07/cover-buku1.jpg?w=520&h=350&crop=1" ><p>3</p></li>
          <!-- End of grid blocks -->
        </ul>

</div>
<script type="text/javascript">
  (function ($) {
    // Instantiate wookmark after all images have been loaded
    var wookmark,
        container = '#container',
        $container = $(container),
        $window = $(window),
        $document = $(document);

    imagesLoaded(container, function () {
      wookmark = new Wookmark(container, {
        offset: 10, // Optional, the distance between grid items
        itemWidth: 210 // Optional, the width of a grid item
      });
    });

    /**
     * When scrolled all the way to the bottom, add more tiles
     */
    function onScroll() {
      // Check if we're within 100 pixels of the bottom edge of the broser window.
      var winHeight = window.innerHeight ? window.innerHeight : $window.height(), // iphone fix
          closeToBottom = ($window.scrollTop() + winHeight > $document.height() - 100);

      if (closeToBottom) {
        // Get the first then items from the grid, clone them, and add them to the bottom of the grid
        var $items = $('li', $container),
            $firstTen = $items.slice(0, 10).clone().css('opacity', 0);
        $container.append($firstTen);

        wookmark.initItems();
        wookmark.layout(true, function () {
          // Fade in items after layout
          setTimeout(function() {
            $firstTen.css('opacity', 1);
          }, 300);
        });
      }
    };

    // Capture scroll event.
    $window.bind('scroll.wookmark', onScroll);
  })(jQuery);
</script>

<!--
                <div class="bbsf-shadow-top" style="background: #ffffff; margin-top: 0em;">
                <p style="font-size: 18px; text-align: center; padding-top: 0.5em; padding-bottom: 0.5em; color: #5f5f5d;">
                    Explore Trending, In your interests and more
                </p>
                    <ul id="container" class="tiles-wrap" ng-bind-html="appendData">
                              <li ng-repeat="x in feedList" class="feedcard" >
                      <div class="bsf-shadow feedcardinner">
                            <img class="feedcardimg" ng-src="{{x.data.listing.images[0]}}">
                            <div class="readlaterbtn" data-toggle=snackbar data-content='Added to: "Books I want to read"'>
                                <span class="fa fa-book"></span>
                            </div>
                            <p class="zmargin feedtitle">{{x.data.page.title}}</p>
                            <p class="cost cardcostrs zmargin">Rs. </p>
                            <p class="cost zmargin cardcost">{{x.data.listing.price}}</p>
                            <div class="tagscontainer">
                                <p>
                                    <div class="row zpadding zmargin tagfontsize">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="educationtag tag">
                                                {{x.data.page.category}}
                                            </div>

                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="tag {{x.type}}tag">
                                                {{x.type}}
                                            </div>
                                        </div>
                                    </div>
                                </p>
                            </div>
                            <div id="container" class="cardlikecontainer">
                                <div class="heart cardheart" id="like1" rel="like"></div>
                                <div class="likeCount cardlikecount" id="likeCount1">1000</div>
                            </div>

                        </div>
                    </li>
                    </ul>
                </div>

                <script type="text/javascript">
                    /*
                                                                            (function ao(x) {
                                                                                function getWindowWidth() {
                                                                                    return Math.max(document.documentElement.clientWidth, window.innerWidth || 0)
                                                                                }
                                                                                var wookmark;
                                                                                imagesLoaded('#container', function() {
                                                                                    wookmark = new Wookmark('#container', {
                                                                                        itemWidth: function() {
                                                                                                var abc = getWindowWidth();
                                                                                                if (abc < 800) {
                                                                                                    return 100;
                                                                                                } else {
                                                                                                    return 200;
                                                                                                }
                                                                                            }
                                                                                            //100, // Optional min width of a grid item
                                                                                            ,
                                                                                        outerOffset: 20, // Optional the distance from grid to parent
                                                                                        flexibleWidth: function() {
                                                                                            return getWindowWidth() < 1024 ? '50%' : '50%';
                                                                                        }

                                                                                    });
                                                                                });
                                                                                var container = '#container',
                                                                                    $container = $(container),
                                                                                    $window = $(window),
                                                                                    $document = $(document);
                                                                                $window.bind('scroll.wookmark', onScroll);

                                                                                function onScroll() {
                                                                                    var winHeight = window.innerHeight ? window.innerHeight : $window.height(), // iphone fix
                                                                                        closeToBottom = ($window.scrollTop() + winHeight > $document.height()/3);
                                                                                    if (closeToBottom) {
                                                            						console.log("Js");
                                                            						var scope = angular.element(document.getElementById("MainWrap")).scope();
                                                            						scope.$apply(function () {
                                                            						scope.appendFeedItems();
                                                            						});


                                                            						/*
                                                                                        var $items = $('li', $container),
                                                                                            $firstTen = $items.slice(0, 10).clone().css('opacity', 0);
                                                                                        $container.append($firstTen);
                                                                                        wookmark.initItems();
                                                                                        wookmark.layout(true, function() {
                                                                                            setTimeout(function() {
                                                                                                $firstTen.css('opacity', 1);
                                                                                            }, 300);
                                                                                        });*/
                    /*
                                                $container.append(x);
                                                wookmark.initItems();
                                                wookmark.layout(true, function() {
                                                    setTimeout(function() {
                                                        $firstTen.css('opacity', 1);
                                                    }, 300);
                                                });
                                            }
                                        };

                                    })();
                                    */
                </script>

                <p id="reser1">Total Results Found : {{count}}</p>

                <ul class="pagination" ng-init="page=0">
                    <li ng-if="page > 0"><a ng-click="subButtons()">Prev</a></li>
                    <li ng-repeat="z in []|range:(count/pageSize):page:pageSize"><a id={{z}} ng-click="getBooks($event)">{{z}}</a></li>
                    <li ng-if="count > 5*pageSize" ng-hide="(page+5)*pageSize > count "><a ng-click="addButtons()">Next</a></li>
                </ul>



                <p id="APagination">A :{{aa}}
                </p>
                <div id="testresults" class="list-group" style="display: flex">
                    <ul>
                        <li class="list-group-item text-capitalize" ng-repeat="x in myWelcome " ng-swipe-left="aa=aa+1">
                          ng-class="{'fa fa-chevron-right abc':!open,'fa fa-chevron-down abc':open}"
                            <label ng-click="open(x._id)">Click me: Name: {{x.name}}</label>
                            <!--	<div class="row"   >
						<div class="col-sm-3">
							<img src="" class="img-responsive" alt="Book Image" />
						</div>
						<div class="col-sm-6">
							<div style="display: inline-block">
								<p>Price: {{x.price}}</p>
								<p>Sold By: {{x.soldBy}}</p>
								<p>Posted on: {{x.postedOn}}</p>
								<p>id : {{x._id}}</p>

							</div>
						</div >
						<div  class="col-sm-3"><button name={{x.soldBy}} type="button" class="btn btn-info btn-lg"
									data-toggle="modal" data-target="#myModal" ng-click="a($event)"
									>Send Enquiry</button></div>
					</div>
                        </li>
                        <li class="list-group-item text-capitalize" ng-show="(myWelcome.length==0)&&count==0">No Results Found</li>
                        <li class="list-group-item text-capitalize" ng-show="(myWelcome.length==0)&&count!=0">No More Results</li>

                    </ul>

                </div>
              -->

                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Send Enquiry</h4>
                            </div>
                            <div class="modal-body">
                                <p>Contact Details
                                    <br/>Contact No. : {{sellerCno}}
                                    <br/>Email : {{sellerEmail}}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="">Send</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="row bsf-footer" style="background: #027cd5; color: #ffffff; padding: 0px; margin: 0px;">
                <div class="container">
                    <h2> 	&copy; BooksInsta </h2>
                    <br />
                </div>

            </div>

        </div>
    </body>
</div>

</html>
