<!DOCTYPE html>
<html ng-app="booksApp" ng-controller="searchAllCtrl" ng-cloak>

<head>
    <meta charset="ISO-8859-1">
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-height,width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03396c">
    <meta name="msapplication-navbutton-color" content="#03396c">
    <meta name="apple-mobile-web-app-status-bar-style" content="#03396c">
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="js/jquery.lazyloadxt.fadein.css">
    <script src="js/jquery-1.12.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/jquery.lazyloadxt.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/test1.css">
    <link rel="stylesheet" type="text/css" href="css/searchall.css">
    <script type="text/javascript" src="js/test1.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/angular-cookies.js"></script>
    <script type="text/javascript" src="js/searchall.js"></script>
	<script type="text/javascript" src="js/angular-sanitize.js"></script>


    <link rel="stylesheet" href="bower_components/wookmark/css/main.css">

    <script src="bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="bower_components/wookmark/wookmark.js"></script>



    <link href="css/snack/snackbar.min.css" rel="stylesheet">
    <link href="css/snack/material.css" rel="stylesheet">
    <script src="js/snack/snackbar.min.js"></script>
    <link href="css/fontello-65f5bf00/css/fontello.css" rel="stylesheet">

    <script>
        function showw() {

            $('#mapModal').modal({
                show: true,
                backdrop: 'static',
                keyboard: false
            })
        }

        function hideModal() {
            $('#mapModal').modal('hide');
        }
    </script>
    <style>
        /**
       * Grid items
       */

        .tiles-wrap li {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .tiles-wrap li img {
            width: 100%;
            height: auto;
        }
    </style>
    <title>BOOKx</title>

</head>
<div class="js">
<body ng-init="load()"id="MainWrap">
      <div id="preloader"></div>
    <div id="msidebar">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right closemsidebarbtn" style="font-size: 2.5em; margin-right: 0.7em;">
                    &times;
                </div>
                <ul>
                    <li>
                        Browse All Categories
                    </li>
                    <li>
                        Sell your book
                    </li>
                    <li>
                        Sign In
                    </li>
                    <li>
                        Sign Up
                    </li>
                    <li>
                        Change pin code
                    </li>
                    <li>
                        Change city
                    </li>
                    <li>
                        Contact Us
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="mcontent">
        <a href="#" id="return-to-top" style="z-index: 15000"><i class="fa fa-angle-up"></i></a>

        <div class="catsub" style="margin-left: 250px; position: fixed;">
            <ul>
                <li>
                    askjd
                </li>
                <li>
                    <a href="#">
                        <i class="menitem fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
              Technology
          </span>
                </li>
            </ul>
        </div>


        <div class="modal fade" id="modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background: #edeff1">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <ul class="list-inline">
                            <li style="text-align: center;">
                                <h3 style="text-align: center;" class="pull-center">Login to your BooksInta account!</h3></li>
                        </ul>
                    </div>
                    <div class="modal-body" id="loginModal" style="background: #edeff1">
                        <div class="form-group">
                            <input type="text" placeholder="Email Id" ng-model="emailId" class=" form-control " />
                            <input type="password" placeholder="**********" ng-model="pass" class=" form-control " />
                            <button class="btn btn-info form-control">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="mapModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <ul class="list-inline">
                            <li>
                                <h3>Enter new pin code</h3></li>
                        </ul>
                    </div>
                    <div class="modal-body" id="loginModal">
                        <input type="number" ng-model="pincode" class="form-control" placeholder="Enter your pincode" ng-maxlength="6" ng-minlength="6"></input>
                        <button class="btn btn-primary" ng-click="sendPC()" ng-show="pincode" class="form-control">Submit</button>
                    </div>
                </div>
            </div>
        </div>



        <!--Nav and header secion -->
        <div class="navbar navbar-fixed-top navbar-default" style="border:0px;">
            <div class="row shrink">
                <div class="container-fluid">
                    <!--
                <div class="navbar-header">
                    <a class="navbar-toggle" id="navtogglebtn" data-toggle="collapse" data-target="#navtop">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>

                    </a>

                </div>
              -->
                    <div class="collapse navbar-collapse" id="navtop">
                        <div class="container" style="text-align: center; ">
                            <ul class="nav navbar-nav">
                                <li class="navbarlink"><a href="#">Contact us</a></li>
                                <li class="navbarlink"><a href="#">Find the right book</a></li>
                                <li class="navbarlink"><a href="#">Change City</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="navbarlink"><a href="#">All Categories</a></li>
                                <li class="navbarlink"><a href="#">Sell Your Book</a></li>
                                <li class="navbarlink"><a href="#">My Books</a></li>
                                <li ng-show="!pincode" class="navbarlink"><a href="#" data-toggle="modal" data-target="#mapModal">Change location</a></li>
                                <li ng-show="pincode" class="navbarlink"><a href="#" data-toggle="modal" data-target="#mapModal"> {{pincode}} </a></li>
                                <li class="navbarlink"><a id="loginbuttonid" href="#" class="loginbutton" data-toggle="modal" data-target="#modal1">Login/Sign Up</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Mobile only -->
            <div class="row shrink" style="padding: 0px; margin: 0px;">
                <div class="col-xs-12 hidden-md hidden-sm hidden-lg">
                    <div class="row">
                        <div class="col-xs-2" style="text-align:center; margin-top:0.8em;">
                            <i id="msidebartoggle" class="fa fa-bars" style="font-size: 1.5em"></i>
                        </div>
                        <div class="col-xs-5">
                            <img data-src="http://i1.sdlcdn.com/img/storeFrontFeaturedProductAdmin/12/NewSnapdealLogo15045.png" style="margin-top:0.4em; max-width:100%; min-width:100%;" id="logott" />
                        </div>
                    </div>
                </div>
            </div>
            <!--End Mobile only -->
            <div class="row" id="cusnav">
                <div class="col-md-2 col-sm-2 col-xs-1"></div>
                <div class="col-md-2 col-sm-2 col-xs-0 hidden-xs " style="padding: 0px;">
                    <div class="navbar-header pull-right" style="padding: 0px;">
                        <img data-src="http://i1.sdlcdn.com/img/storeFrontFeaturedProductAdmin/12/NewSnapdealLogo15045.png" style="margin-top:0.4em; max-width:100%; min-width:100%;" id="logott" />
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-8" id="nav2">
                    <div class="form-group">
                        <input style="border: 1px solid #e1e0e; z-index: 15000;" id="searchText" ng-change="getBooks()" ng-model="searchText" type="text" class="sbar form-control" method="post" placeholder="  Find your book now!" list="somethingelse2" />
                        <div class="row">
                            <div id="searchResults" class="col-md-12 col-sm-12">
                                <ul id="innersearchResults" class="pull-left">
                                    <li class="searchresultli">
                                        <a class="searchresultlink" href="#">OS  <p class="cost costrs" style="display: inline"> &nbsp; &nbsp;Rs. </p>
                                        <p class="cost" style="display: inline">1587</p>
                                </a>
                                    </li>
                                    <li class="searchresultli">
                                        <a class="searchresultlink" href="#">OSes by LokeshSingh
                                </a>
                                    </li>
                                    <li class="searchresultli">
                                        <a class="searchresultlink" href="#">OS
                                </a>
                                    </li>
                                    <li class="searchresultli">
                                        <a class="searchresultlink" href="#">OS
                                </a>
                                    </li>
                                    <li class="searchresultli">
                                        <a class="searchresultlink" href="#" style=" color: #000">Explore All >
                                </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 searchbtnnav">
                    <button class="btn btn-primary" style="background-color: #03396c; border-radius: 0px;">Search</button>
                </div>

            </div>
        </div>

        <!--Nav and header secion end-->
        <div class="container" style="margin-top: 1em;">
          <div class="row">
            <div class="col-md-3 col-sm-3 bsf-shadow-top" style=" margin-top: 1.5em; background: #fff; padding-bottom: 2em;">
              <h4 style="font-weight: bold; padding-top: 1em;">Filter By</h4>
              <h5>Price</h5>{{priceFilter}}
              <input type="range" ng-change=getBooks() ng-model="priceFilter" min="1" max="3001" id="costfilter" step="50" value="3001"/>
<p class="pull-right" style="text-align: right" id="costfiltertext">
                Rs. 3001
              </p>
              <br />
              <h5>Range</h5>
              <input type="range" min="1" max="50" id="radiusfilter" step="1" value="10"/>
              <p class="pull-right" style="text-align: right" id="radiusfiltertext">
                10 K.m.
              </p>
              <br />
              <h5>Delivery Type</h5>
              <div class="row">
                <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 checkboxrow">
                  <input type="checkbox"   ng-click="fd1=!fd1;getBooks()"id="freedevcheck1" ng-model='fdc1'  class="mcheckbox"></input><label for="freedevcheck1" class="mlabel">Free delivery only</label>
                </div>
              </div>
			  <div class="row">
                <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 checkboxrow">
                  <input type="checkbox" ng-click="fd2=!fd2;getBooks()"id="freedevcheck" ng-change="getBooks()"ng-model="fdc2" class="mcheckbox"></input><label for="freedevcheck" class="mlabel">Paid delivery only</label>
                </div>
              </div>
              <h5>Old Books</h5>
			  <div>
              <div class="row ">
                <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 checkboxrow">
                <input type="checkbox" id="oldbookscheck" ng-click="ob1=!ob1;getBooks()"ng-model="obc1"class="mcheckbox"></input><label for="oldbookscheck" class="mlabel">Old Books</label>
             </div>
            </div>  
			<div class="row ">
                <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 checkboxrow">
                <input type="checkbox" id="oldbookscheck1"ng-model="obc2"ng-click="ob2=!ob2;getBooks()"class="mcheckbox"></input><label for="oldbookscheck1" class="mlabel">New Books</label>
             </div>
            </div>
			</div>
            <h5>Categories</h5>
            <div class="row ">
              <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 checkboxrow">
                  <input type="checkbox" id="educationcatfilter" class="mcheckbox" ></input><label for="educationcatfilter" class="mlabel">Education</label>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 checkboxrow">
                  <input type="checkbox" id="novelscatfilter" class="mcheckbox" ></input><label for="novelscatfilter" class="mlabel">Novels</label>
                </div>
              </div>
                  <div class="row ">
                    <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 checkboxrow">
                  <input type="checkbox" id="magazinescatfilter" class="mcheckbox" ></input><label for="magazinescatfilter" class="mlabel">Magazines</label>
                </div>
              </div>
                  <div class="row ">
                    <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 checkboxrow">
                  <input type="checkbox" id="kidscatfilter" class="mcheckbox" ></input><label for="kidscatfilter" class="mlabel">Kids</label>
                </div>
              </div>
            </div>
            <div class="col-md-9 col-sm-9">
            <div class="bsf-shadow-top" style="background: #ffffff; margin-top: 1.5em;">
                <p style="font-size: 18px; text-align: center; padding-top: 0.5em; padding-bottom: 0.5em; color: #5f5f5d;">
                  Results matching "OS CSe"
                </p>
                <ul id="container" class="tiles-wrap" ng-bind-html="appendData">
                </ul>
            </div>
</div>
            <script type="text/javascript">
            /*
                (function () {
                    function getWindowWidth() {
                        return Math.max(document.documentElement.clientWidth, window.innerWidth || 0)
                    }
                    var wookmark;
                    imagesLoaded('#container', function() {
                        wookmark = new Wookmark('#container', {
                            itemWidth: function() {
                                    var abc = getWindowWidth();
                                    if (abc < 800) {
                                        return 100;
                                    } else {
                                        return 200;
                                    }
                                }
                                //100, // Optional min width of a grid item
                                ,
                            outerOffset: 20, // Optional the distance from grid to parent
                            flexibleWidth: function() {
                                return getWindowWidth() < 1024 ? '50%' : '50%';
                            }

                        });
                    });
                    var container = '#container',
                        $container = $(container),
                        $window = $(window),
                        $document = $(document);
                    $window.bind('scroll.wookmark', onScroll);

                    function onScroll() {
                        var winHeight = window.innerHeight ? window.innerHeight : $window.height(), // iphone fix
                            closeToBottom = ($window.scrollTop() + winHeight > $document.height()/1.5);
                        if (closeToBottom) {
						console.log("Js");
						var scope = angular.element(document.getElementById("MainWrap")).scope();
						scope.$apply(function () {
						scope.append();

						});
                          /*  var $items = $('li', $container),
                                $firstTen = $items.slice(0, 10).clone().css('opacity', 0);
                            $container.append($firstTen);
                            wookmark.initItems();
                            wookmark.layout(true, function() {
                                setTimeout(function() {
                                    $firstTen.css('opacity', 1);
                                }, 300);
                            });*/
                            /*
							 wookmark.initItems();
                            wookmark.layout(true, function() {

                            });
                        }
                    };

                })();
                */
            </script>

            <p id="reser1">Total Results Found : {{count}}</p>

            <ul class="pagination" ng-init="page=0">
                <li ng-if="page > 0"><a ng-click="subButtons()">Prev</a></li>
                <li ng-repeat="z in []|range:(count/pageSize):page:pageSize"><a id={{z}} ng-click="getBooks($event)">{{z}}</a></li>
                <li ng-if="count > 5*pageSize" ng-hide="(page+5)*pageSize > count "><a ng-click="addButtons()">Next</a></li>
            </ul>



            <p id="APagination">A :{{aa}}
            </p>
            <div id="testresults" class="list-group" style="display: flex">
                <ul>
                    <li class="list-group-item text-capitalize" ng-repeat="x in myWelcome " ng-swipe-left="aa=aa+1">
                        <!--ng-class="{'fa fa-chevron-right abc':!open,'fa fa-chevron-down abc':open}" -->
                        <label ng-click="open(x._id)">Click me: Name: {{x.name}}</label>
                        <!--	<div class="row"   >
						<div class="col-sm-3">
							<img src="" class="img-responsive" alt="Book Image" />
						</div>
						<div class="col-sm-6">
							<div style="display: inline-block">
								<p>Price: {{x.price}}</p>
								<p>Sold By: {{x.soldBy}}</p>
								<p>Posted on: {{x.postedOn}}</p>
								<p>id : {{x._id}}</p>

							</div>
						</div >
						<div  class="col-sm-3"><button name={{x.soldBy}} type="button" class="btn btn-info btn-lg"
									data-toggle="modal" data-target="#myModal" ng-click="a($event)"
									>Send Enquiry</button></div>
					</div> -->
                    </li>
                    <li class="list-group-item text-capitalize" ng-show="(myWelcome.length==0)&&count==0">No Results Found</li>
                    <li class="list-group-item text-capitalize" ng-show="(myWelcome.length==0)&&count!=0">No More Results</li>

                </ul>

            </div>

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Send Enquiry</h4>
                        </div>
                        <div class="modal-body">
                            <p>Contact Details
                                <br/>Contact No. : {{sellerCno}}
                                <br/>Email : {{sellerEmail}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="">Send</button>
                        </div>
                    </div>

                </div>
            </div>
          </div>
        </div>
        <div class="row bsf-footer" style="background: #027cd5; color: #ffffff; padding: 0px; margin: 0px;">
            <div class="container">
                <h2> 	&copy; BooksInsta </h2>
                <br />
            </div>

        </div>

    </div>
</body>
</div>

<link rel="stylesheet" type="text/css" href="/bower_components2/flexslider/flexslider.css">
<script src="/bower_components2/flexslider/jquery.flexslider.js"></script>
<script src="/bower_components2/angular-flexslider/angular-flexslider.js"></script>

</html>
