<html >
<head>
<script src="/js/angular.min.js"></script>
<script src="js/app.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/jquery-1.12.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/angular-touch.js"></script>
<script src="/js/angular-cookies.js"></script>
<meta name="viewport" content="height=device-height,width=device-width, initial-scale=1">
<script>
function call() {
		console.log("called");
	var files = document.getElementById("file_input").files;
	var file = files[0];
	if(file == null){
		alert("No file selected.");
	}
	else{
		get_signed_request(file);
	}
};
function get_signed_request(file){
	var xhr = new XMLHttpRequest();
	xhr.open("GET", "/sign_s3?file_name="+file.name+"&file_type="+file.type);
	xhr.onreadystatechange = function(){
		if(xhr.readyState === 4){
			if(xhr.status === 200){
				var response = JSON.parse(xhr.responseText);
				upload_file(file, response.signed_request, response.url);
			}
			else{
				alert("Could not get signed URL.");
			}
		}
	};
	xhr.send();
}
function upload_file(file, signed_request, url){
	var xhr = new XMLHttpRequest();
	xhr.open("PUT", signed_request);
	xhr.setRequestHeader('x-amz-acl', 'public-read');
	xhr.onload = function() {
		if (xhr.status === 200) {
			document.getElementById("preview").src = url;
			document.getElementById("avatar_url").value = url;
		}
	};
	xhr.onerror = function() {
		alert("Could not upload file.");
	};
	xhr.send(file);
}
</script>
</head>
<body>
<input type="file" id="file_input" ng-model="filee"/>
<p id="status">Please select a file</p>
<img id="preview" src="/img/default.png" />
<button onclick="call()">Call</button>
<form method="POST" action="/submit_form/">
<input type="hidden" id="avatar_url" name="avatar_url" value="/public/default.png" />
<input type="text" name="username" placeholder="Username" /><br />
<input type="text" name="full_name" placeholder="Full name" /><br /><br />
<input type="submit" value="Update profile" />
</form>
</body>
</html>