<html>

<head>
    <meta charset="ISO-8859-1">
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-height,width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03396c">
    <meta name="msapplication-navbutton-color" content="#03396c">
    <meta name="apple-mobile-web-app-status-bar-style" content="#03396c">
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="js/jquery.lazyloadxt.fadein.css">
    <script src="js/jquery-1.12.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/jquery.lazyloadxt.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/test1.css">
    <link rel="stylesheet" type="text/css" href="css/test3.css">
    <script type="text/javascript" src="js/test1.js"></script>
    <script type="text/javascript" src="js/test3.js"></script>
    <script type="text/javascript" src="js/angular-cookies.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/dpUpload.js"></script>
	


    <link href="css/snack/snackbar.min.css" rel="stylesheet">
    <link href="css/snack/material.css" rel="stylesheet">
    <script src="js/snack/snackbar.min.js"></script>
    <link href="css/fontello-65f5bf00/css/fontello.css" rel="stylesheet">
    <title>BOOKx</title>
    <script>
        function clear() {
            sessionStorage.urls = "";
        }
    </script>
</head>
<div class="js">

    <body ng-app="booksApp" ng-controller="userProfileCtrl" id="MainWrap"onload="clear()" id="MainWrap" onunload="clear()" ng-init="loadUser()">
        <div id="preloader"></div>
        <div id="msidebar">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-right closemsidebarbtn" style="font-size: 2.5em; margin-right: 0.7em;">
                        &times;
                    </div>
                    <ul>
                        <li>
                            Browse All Categories
                        </li>
                        <li>
                            Sell your book
                        </li>
                        <li>
                            Sign In
                        </li>
                        <li>
                            Sign Up
                        </li>
                        <li>
                            Change pin code
                        </li>
                        <li>
                            Change city
                        </li>
                        <li>
                            Contact Us
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Nav and header secion -->
        <div class="navbar navbar-fixed-top navbar-default" style="border:0px;">
            <div class="row shrink">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navtop">
                        <div class="container" style="text-align: center; ">
                            <ul class="nav navbar-nav">
                                <li class="navbarlink"><a href="#">Contact us</a></li>
                                <li class="navbarlink"><a href="#">Find the right book</a></li>
                                <li class="navbarlink"><a href="#">Change City</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="navbarlink"><a href="#">All Categories</a></li>
                                <li class="navbarlink"><a href="#">Sell Your Book</a></li>
                                <li class="navbarlink"><a href="#">My Books</a></li>
                                <li ng-show="!pincode" class="navbarlink"><a href="#" data-toggle="modal" data-target="#mapModal">Change location</a></li>
                                <li ng-show="pincode" class="navbarlink"><a href="#" data-toggle="modal" data-target="#mapModal"> {{pincode}} </a></li>
                                <li class="navbarlink"><a id="loginbuttonid" href="#" class="loginbutton" data-toggle="modal" data-target="#modal1">Login/Sign Up</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Mobile only -->
            <div class="row shrink" style="padding: 0px; margin: 0px;">
                <div class="col-xs-12 hidden-md hidden-sm hidden-lg">
                    <div class="row">
                        <div class="col-xs-2" style="text-align:center; margin-top:0.8em;">
                            <i id="msidebartoggle" class="fa fa-bars" style="font-size: 1.5em"></i>
                        </div>
                        <div class="col-xs-5">
                            <img data-src="http://i1.sdlcdn.com/img/storeFrontFeaturedProductAdmin/12/NewSnapdealLogo15045.png" style="margin-top:0.4em; max-width:100%; min-width:100%;" id="logott" />
                        </div>
                    </div>
                </div>
            </div>
            <!--End Mobile only -->
            <div class="row" id="cusnav">
                <div class="col-md-2 col-sm-2 col-xs-1"></div>
                <div class="col-md-2 col-sm-2 col-xs-0 hidden-xs " style="padding: 0px;">
                    <div class="navbar-header pull-right" style="padding: 0px;">
                        <img data-src="http://i1.sdlcdn.com/img/storeFrontFeaturedProductAdmin/12/NewSnapdealLogo15045.png" style="margin-top:0.4em; max-width:100%; min-width:100%;" id="logott" />
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-8" id="nav2">
                    <div class="form-group">
                        <input style="border: 1px solid #e1e0e; z-index: 15000;" id="searchText" ng-change="getBooks()" ng-model="searchText" type="text" class="sbar form-control" method="post" placeholder="  Find your book now!" list="somethingelse2" />
                        <div class="row">
                            <div id="searchResults" class="col-md-12 col-sm-12">
                                <ul id="innersearchResults" class="pull-left">
                                    <li class="searchresultli">
                                        <a class="searchresultlink" href="#">OS
														</a>
                                    </li>
                                    <li class="searchresultli">
                                        <a class="searchresultlink" href="#">OSes by LokeshSingh
														</a>
                                    </li>
                                    <li class="searchresultli">
                                        <a class="searchresultlink" href="#">OS
														</a>
                                    </li>
                                    <li class="searchresultli">
                                        <a class="searchresultlink" href="#">OS
														</a>
                                    </li>
                                    <li class="searchresultli">
                                        <a class="searchresultlink" href="#" style=" color: #000">Explore All >
														</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 searchbtnnav">
                    <button class="btn btn-primary" style="background-color: #03396c; border-radius: 0px;">Search</button>
                </div>

            </div>
        </div>
        <div class="row" style="background:#006cb4; margin: 0px;">

        </div>

        <!--Nav and header secion end-->
        <!-- left section -->
        <div class="container">
            <div class="row" id="homecontent">
                <div class="col-md-3 col-sm-3 col-xs-12 profile-sidebar" id="leftaffixcol">
                    <div class="profile-userpic"> <img ng-src="{{userData.dp}}" class="img-responsive bsf-shadow" alt="profile picture" id="preview"/> 
					<input type="file" id="file_input" ng-model="filee" value="dd"/>
		<button onclick="call()">Upload</button>

					</div>
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{userData.name}} </div>
                    </div>
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li ng-click="loadUser()" class="active" id="uploadbooksli">
                                <a href="#"> <i class="fa fa-cloud-upload"></i> Sell your Book </a>
                            </li>
                            <li id="mybooksli">
                                <a href="# ">
                                    <i class="fa fa-book "></i> My Books </a>
                            </li>
                            <li id="profileli">
                                <a href="# ">
                                    <i class="fa fa-cog "></i> Account Settings </a>
                            </li>
                            <li id="readlaterlistli">
                                <a href="# ">
                                    <i class="fa fa-book "></i> Read Later </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- left section end-->
                <div class="col-md-1 col-sm-1 col-xs-0 ">

                </div>
                <!--right section-->
                <div class="col-md-8 col-sm-8 col-xs-12 " id="rightcol">
                    <div class="profile-content">
                        <i class="fa fa-cog settingtitleicon settingtitle"></i>
                        <h3 class="settingtitleheading settingtitle">Account Settings</h3>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h4 class="settingtitle settingtitledesc">Type in any input box to enter a new value and then click update to finalize the changes.</h4>
                            </div>
                        </div>
                        <div class="row" style="margin-top : 1em;">
                            <div class="col-md-3 col-sm-4 col-xs-4">
                                <h4 style="text-align: right;text-transform: uppercase;
						  color: #5b9bd1;
						  font-weight: 600;">Name : </h4>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-8" style="text-align: center;">
                                <div class="paper-input__wrapper">
                                    <input class="paper-input paper-input--floating" type="text" />
                                    <label>{{userData.name}}</label>
                                    <span class="bar"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-2 hidden-xs">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-4">
                                <h4 style="text-align: right;text-transform: uppercase;
							color: #5b9bd1;
							font-weight: 600;">Email : </h4>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-8" style="text-align: center;">
                                <div class="paper-input__wrapper">
                                    <input class="paper-input paper-input--floating" type="text" />
                                    <label>Email</label>
                                    <span class="bar"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-2 hidden-xs">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-4">
                                <h4 style="text-align: right;text-transform: uppercase;
							color: #5b9bd1;
							font-weight: 600;">Contact No. : </h4>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-8" style="text-align: center;">
                                <div class="paper-input__wrapper">
                                    <input class="paper-input paper-input--floating" type="text" />
                                    <label>{{userData.cno}}</label>
                                    <span class="bar"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-2 hidden-xs">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-4">
                                <h4 style="text-align: right;text-transform: uppercase;
							color: #5b9bd1;
							font-weight: 600;">Location : </h4>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-8" style="text-align: center;">
                                <div class="paper-input__wrapper">
                                    <input class="paper-input paper-input--floating" type="text" />
                                    <label>Delhi</label>
                                    <span class="bar"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-2 hidden-xs">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-3 col-xs-4 col-md-offset-5 col-sm-offset-5 col-xs-offset-4">
                                <button class="btn btn-primary pull-center" style="width: 100%; min-width: 100%; background-color: #03396c; border-radius: 0px;">Update</button>
                            </div>
                        </div>
                    </div>
                    <div class="mybooks-content">
                        <div class="row">

                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <div class="card">
                                    <div class="card-image">
                                        <img data-src="https://img01.olx.in/images_olxin/208805721_1_1000x700_financial-reporting-book-vol-1-and-vol-2-for-paper-1-at-the-delhi.jpg">

                                    </div>

                                    <div class="card-content">
                                        <span class="card-title">Financial Reporting Question Bank for 1st paper 2015</span>
                                        <br />
                                        <p class="cost costrs">Rs. </p>
                                        <p class="cost"> 1523</p>
                                        <button type="button" class="btn btn-custom pull-right showinsightscardbtn" aria-label="Left Align">
                                            <i class="fa fa-chevron-circle-up"></i>
                                        </button>
                                    </div>
                                    <div class="card-action">
                                        <a href="#">Link to Listing</a>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title">Insights</span>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <p><i class="fa fa-eye"></i> 201</p>
                                        <p><i class="fa fa-heart"></i> 10</p>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <p class="tag educationtag tagfontsize">Education</p>
                                            </div>
                                        </div>
                                        <a href="#" style="display: block; color: #ffab40">Edit this Listing</a>

                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <div class="card">
                                    <div class="card-image">
                                        <img data-src="https://img01.olx.in/images_olxin/208805721_1_1000x700_financial-reporting-book-vol-1-and-vol-2-for-paper-1-at-the-delhi.jpg">

                                    </div>

                                    <div class="card-content">
                                        <span class="card-title">Financial Reporting Question Bank for 1st paper 2015</span>
                                        <br />
                                        <p class="cost costrs">Rs. </p>
                                        <p class="cost"> 1523</p>
                                        <button type="button" class="btn btn-custom pull-right showinsightscardbtn" aria-label="Left Align">
                                            <i class="fa fa-chevron-circle-up"></i>
                                        </button>
                                    </div>
                                    <div class="card-action">
                                        <a href="#">Link to Listing</a>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title">Insights</span>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <p><i class="fa fa-eye"></i> 201</p>
                                        <p><i class="fa fa-heart"></i> 10</p>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <p class="tag educationtag tagfontsize">Education</p>
                                            </div>
                                        </div>
                                        <a href="#" style="display: block; color: #ffab40">Edit this Listing</a>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <div class="card">
                                    <div class="card-image">
                                        <img data-src="https://img01.olx.in/images_olxin/208805721_1_1000x700_financial-reporting-book-vol-1-and-vol-2-for-paper-1-at-the-delhi.jpg">

                                    </div>

                                    <div class="card-content">
                                        <span class="card-title">Financial Reporting Question Bank for 1st paper 2015</span>
                                        <br />
                                        <p class="cost costrs">Rs. </p>
                                        <p class="cost"> 1523</p>
                                        <button type="button" class="btn btn-custom pull-right showinsightscardbtn" aria-label="Left Align">
                                            <i class="fa fa-chevron-circle-up"></i>
                                        </button>
                                    </div>
                                    <div class="card-action">
                                        <a href="#">Link to Listing</a>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title">Insights</span>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <p><i class="fa fa-eye"></i> 10</p>
                                        <p><i class="fa fa-heart"></i> 0</p>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <p class="tag educationtag tagfontsize">Education</p>
                                            </div>
                                        </div>
                                        <a href="#" style="display: block; color: #ffab40">Edit this Listing</a>

                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <div class="card">
                                    <div class="card-image">
                                        <img data-src="https://img01.olx.in/images_olxin/208805721_1_1000x700_financial-reporting-book-vol-1-and-vol-2-for-paper-1-at-the-delhi.jpg">

                                    </div>

                                    <div class="card-content">
                                        <span class="card-title">Financial Reporting Question Bank for 1st paper 2015</span>
                                        <br />
                                        <p class="cost costrs">Rs. </p>
                                        <p class="cost"> 1523</p>
                                        <button type="button" class="btn btn-custom pull-right showinsightscardbtn" aria-label="Left Align">
                                            <i class="fa fa-chevron-circle-up"></i>
                                        </button>
                                    </div>
                                    <div class="card-action">
                                        <a href="#">Link to Listing</a>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title">Insights</span>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <p><i class="fa fa-eye"></i> 10</p>
                                        <p><i class="fa fa-heart"></i> 0</p>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <p class="tag educationtag tagfontsize">Education</p>
                                            </div>
                                        </div>
                                        <a href="#" style="display: block; color: #ffab40">Edit this Listing</a>

                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="uploadbook-content">
                        <i class="fa fa-cloud-upload settingtitleicon settingtitle"></i>
                        <h3 class="settingtitleheading settingtitle">Sell your book</h3>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h4 class="settingtitle settingtitledesc">You can sell a book already in our database, or sell a book which isn't on our database yet.</h4>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 4em;">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="pull-center" style="text-align: center">
                                    <button class="btn btn-primary" style=" background-color: #03396c; border-radius: 0px;"><a href="/addExistingBook">Pick from existing books</a></button>
                                    <button class="btn btn-primary" style=" background-color: #03396c; border-radius: 0px;"><a href="/addNewBook">List a new book</a></button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </body>
</div>

<link rel="stylesheet" type="text/css" href="/bower_components2/flexslider/flexslider.css">
	<script src="/bower_components2/flexslider/jquery.flexslider.js"></script>
	<script src="/bower_components2/angular-flexslider/angular-flexslider.js"></script>
    

</html>
