<html>

<head>
    <meta charset="ISO-8859-1">
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-height,width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03396c">
    <meta name="msapplication-navbutton-color" content="#03396c">
    <meta name="apple-mobile-web-app-status-bar-style" content="#03396c">
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="js/jquery.lazyloadxt.fadein.css">
    <script src="js/jquery-1.12.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/jquery.lazyloadxt.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/test1.css">
    <link rel="stylesheet" type="text/css" href="css/user.css">
    <script type="text/javascript" src="js/test1.js"></script>
    <script type="text/javascript" src="js/angular-cookies.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.js"></script>
    <script type="text/javascript" src="js/app.js"></script>


    <link href="css/snack/snackbar.min.css" rel="stylesheet">
    <link href="css/snack/material.css" rel="stylesheet">
    <script src="js/snack/snackbar.min.js"></script>
    <link href="css/fontello-65f5bf00/css/fontello.css" rel="stylesheet">
    <title>BOOKx</title>
    <script>
        function clear() {
            sessionStorage.urls = "";
        }
    </script>
</head>
<div class="js">

    <body ng-app="booksApp" ng-controller="shopCtrl" >
        <div id="preloader"></div>
       

        
        <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 col-sm-12">

            <div class="card hovercard">
                <div class="cardheader">
                  <img data-src="http://www.thewellbookshop.com/images/home2.jpg" class="coverimg"/>
                </div>
                <div class="avatar">
                    <img alt="" data-src="http://rfidbrasil.com/blog/wp-content/uploads/2013/06/Fernando-Pessoa00.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="#">The Well Bookshop</a>
                    </div>
                    <div class="desc">Seller</div>
                    <div class="desc">A-131, Rajouri Garden, Delhi, Delhi-110058</div>
                    <div class="desc">Supply radius: 800 k.m.</div>
                    <div class="desc">+919582323805</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="#">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="#">
                        <i class="fa fa-facebook"></i>
                    </a>

                </div>
            </div>

            </div>
        </div>
        <div class="container-fluid">
                <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center">
            <h4 class="sidelines"><span>Selling Collection</span></h4>
  <style type="text/css">
  h4.sidelines { text-align: center; border-bottom: 1px solid #e5e5e5; height: 1em; }
  h4.sidelines span { display: inline-block; background-color: rgba(214, 224, 226, 0.2); padding:0 0.25em; font-size: 22px;}
  </style>
          </div>
        </div>
        <div class="row" style="padding-bottom: 2em;" >

          <div class="col-md-2 col-sm-3 col-xs-6"ng-repeat="x in books.listing">
              <div class="listingcard" style="background:#fff">
                  <div class="listingcard-image">
                      <img ng-src="{{x.images[0]}}">
                  </div>

                  <div class="listingcard-content">
                      <span class="listingcard-title"><a ng-href="/product#?id={{x._id}}">{{x.title}}</a></span>
                      <br />
                      <p class="cost costrs">Rs. </p>
                      <p class="cost"> {{x.price}}</p>

                  </div>


              </div>
          </div><!--
          <div class="col-md-2 col-sm-3 col-xs-6">
              <div class="listingcard" style="background:#fff">
                  <div class="listingcard-image">
                      <img data-src="https://img01.olx.in/images_olxin/208805721_1_1000x700_financial-reporting-book-vol-1-and-vol-2-for-paper-1-at-the-delhi.jpg">

                  </div>

                  <div class="listingcard-content">
                      <span class="listingcard-title">Financial Reporting Question Bank for 1st paper 2015</span>
                      <br />
                      <p class="cost costrs">Rs. </p>
                      <p class="cost"> 1523</p>

                  </div>


              </div>
          </div>

          <div class="col-md-2 col-sm-3 col-xs-6">
              <div class="listingcard" style="background:#fff">
                  <div class="listingcard-image">
                      <img data-src="https://img01.olx.in/images_olxin/208805721_1_1000x700_financial-reporting-book-vol-1-and-vol-2-for-paper-1-at-the-delhi.jpg">

                  </div>

                  <div class="listingcard-content">
                      <span class="listingcard-title">Financial Reporting Question Bank for 1st paper 2015</span>
                      <br />
                      <p class="cost costrs">Rs. </p>
                      <p class="cost"> 1523</p>

                  </div>


              </div>
          </div>

          <div class="col-md-2 col-sm-3 col-xs-6">
              <div class="listingcard" style="background:#fff">
                  <div class="listingcard-image">
                      <img data-src="https://img01.olx.in/images_olxin/208805721_1_1000x700_financial-reporting-book-vol-1-and-vol-2-for-paper-1-at-the-delhi.jpg">

                  </div>

                  <div class="listingcard-content">
                      <span class="listingcard-title">Financial Reporting Question Bank for 1st paper 2015</span>
                      <br />
                      <p class="cost costrs">Rs. </p>
                      <p class="cost"> 1523</p>

                  </div>


              </div>
          </div>

          <div class="col-md-2 col-sm-3 col-xs-6">
              <div class="listingcard" style="background:#fff">
                  <div class="listingcard-image">
                      <img data-src="https://img01.olx.in/images_olxin/208805721_1_1000x700_financial-reporting-book-vol-1-and-vol-2-for-paper-1-at-the-delhi.jpg">

                  </div>

                  <div class="listingcard-content">
                      <span class="listingcard-title">Financial Reporting Question Bank for 1st paper 2015</span>
                      <br />
                      <p class="cost costrs">Rs. </p>
                      <p class="cost"> 1523</p>

                  </div>


              </div>
          </div>

          <div class="col-md-2 col-sm-3 col-xs-6">
              <div class="listingcard" style="background:#fff">
                  <div class="listingcard-image">
                      <img data-src="https://img01.olx.in/images_olxin/208805721_1_1000x700_financial-reporting-book-vol-1-and-vol-2-for-paper-1-at-the-delhi.jpg">

                  </div>

                  <div class="listingcard-content">
                      <span class="listingcard-title">Financial Reporting Question Bank for 1st paper 2015</span>
                      <br />
                      <p class="cost costrs">Rs. </p>
                      <p class="cost"> 1523</p>

                  </div>


              </div>
          </div>

          <div class="col-md-2 col-sm-3 col-xs-6">
              <div class="listingcard" style="background:#fff">
                  <div class="listingcard-image">
                      <img data-src="https://img01.olx.in/images_olxin/208805721_1_1000x700_financial-reporting-book-vol-1-and-vol-2-for-paper-1-at-the-delhi.jpg">

                  </div>

                  <div class="listingcard-content">
                      <span class="listingcard-title">Financial Reporting Question Bank for 1st paper 2015</span>
                      <br />
                      <p class="cost costrs">Rs. </p>
                      <p class="cost"> 1523</p>

                  </div>


              </div>
          </div>

          <div class="col-md-2 col-sm-3 col-xs-6">
              <div class="listingcard" style="background:#fff">
                  <div class="listingcard-image">
                      <img data-src="https://img01.olx.in/images_olxin/208805721_1_1000x700_financial-reporting-book-vol-1-and-vol-2-for-paper-1-at-the-delhi.jpg">

                  </div>

                  <div class="listingcard-content">
                      <span class="listingcard-title">Financial Reporting Question Bank for 1st paper 2015</span>
                      <br />
                      <p class="cost costrs">Rs. </p>
                      <p class="cost"> 1523</p>

                  </div>


              </div>
          </div>-->

        </div>
      </div>
	  
<link rel="stylesheet" type="text/css" href="/bower_components2/flexslider/flexslider.css">
	<script src="/bower_components2/flexslider/jquery.flexslider.js"></script>
	<script src="/bower_components2/angular-flexslider/angular-flexslider.js"></script>
    
    </body>
</div>
</div>

</html>
