.sellerslist{
  list-style-type: none;
}

.sellerslist>li img {
  float: left;
  margin: 0 15px 0 0;
  height: 100px;
  min-height: 100px;
  max-height: 100px;
  width: 100px;
  max-width: 100px;
  min-width: 100px;
}


.sellerslist li {
  padding: 10px;
  overflow: auto;
}

.sellerslist li:hover {
  background: #eee;
}
.lightcolor{
  color: #707070;
}
