@import url(http://fonts.googleapis.com/css?family=Montserrat);
body{
  font-family: montserrat, arial, verdana;

}
.bookslist{
  list-style-type: none;
}

.bookslist>li img {
  float: left;
  margin: 0 15px 0 0;
  height: 100px;
  min-height: 100px;
  max-height: 100px;
  width: 100px;
  max-width: 100px;
  min-width: 100px;
}


.bookslist li {
  padding: 10px;
  overflow: auto;
}

.bookslist li:hover {
  background: #eee;
}


div.stars {
}

input.star { display: none; }

label.star {
	font-size: 2vh;
  float: right;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FD4;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
a{
  color: #333333;
}
a:hover{

}
.lightcolor{
  color: #707070;
}
