.flexslider,
.flexslider-controls {
  margin: 0px;

}
.flex-control-nav{
  position: static !important;
}
.flex-control-nav li {
    width: 20%;
    cursor: pointer;
    float: left;
    margin: 0.09em 0 0 0;
    padding: 0.8em 0em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;

}

.flex-control-nav li:last-child {
}

.flex-control-nav .flex-active {
  border-bottom: 2px solid black !important;
}

/* override flexslider default style */
.flexslider {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  overflow:hidden;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: 1px solid #e5e5e5;
  border-top-left-radius: 1%;
  border-top-right-radius: 1%;

}


.flex-control-paging li a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
  /*background-color: #fff ;*/
  border-bottom: 1px solid blue;
}

.flex-direction-nav {
  width: 100%;
  position: absolute;
  top:57%;
  left:0;
  margin: -50px 0 0;
  z-index:1000;
}

.flex-direction-nav li {
  overflow:visible;
}

.flex-direction-nav a  {
  overflow:visible;
  width: 50px;
  height: 50px;
  margin: 0;
  opacity: 1;
  top:0;
  color: rgba(0,0,0,0.8);
  text-indent:-9999em;
  text-shadow: none;
  -webkit-transition:  all 0.3s ease-out;
  -moz-transition:  all 0.3s ease-out;
  transition:  all 0.3s ease-out;
  background-color: #fff;
}

.flex-direction-nav .arrow {
  position: absolute;
  border-radius: 50%;
  top:0;
  left:0;
  width: 50px;
  height: 50px;
  background: transparent url('../img/nav.png') no-repeat 5px 5px;
  z-index:200;
}

.flex-direction-nav a.flex-next .arrow {
  background-position: -92px -116px ;
}

.flex-direction-nav a.flex-prev .arrow {
  background-position: -15px -116px ;
}
.flex-direction-nav .flex-prev { left:2%; border-radius: 50%;}
.flex-direction-nav .flex-next { right:2%; text-align: left; border-radius: 50%;}
.flexslider:hover .flex-prev { left:2% !important; opacity:1 !important;}
.flexslider:hover .flex-next { right:2% !important; opacity:1 !important;}
.flexslider:hover .flex-prev:hover .arrow { left:0; background-position:-14px -14px; background-color: #000;}
.flexslider:hover .flex-next:hover .arrow { right:0; background-position: -92px -16px ;opacity:1;  background-color: #000; }

.flexslider:hover .flex-prev:hover,
.flexslider:hover .flex-next:hover {
  background-color: #fff;
  opacity:1;
}
.flex-control-nav li:hover{
  background: #f7f7f7;
}
