.list-group.vertical-steps{
  padding-left:10px;
}
.list-group.vertical-steps .list-group-item{
  border:none;
  border-left:3px solid #ece5dd;
  box-sizing:border-box;
  border-radius:0;
  counter-increment: step-counter;
  padding-left:20px;
  padding-right:0px;
  padding-bottom:20px;
  padding-top:0px;
}
.list-group.vertical-steps .list-group-item.active{
  background-color:transparent;
  color:inherit;
}
.list-group.vertical-steps .list-group-item:last-child{
  border-left:3px solid transparent;
  padding-bottom:0;
}
.list-group.vertical-steps .list-group-item::before {
  border-radius: 50%;
  background-color:#ece5dd;
  color:#555;
  content: counter(step-counter);
  display:inline-block;
  float:left;
  height:25px;
  line-height:25px;
  margin-left:-35px;
  text-align:center;
  width:25px;
}
.list-group.vertical-steps .list-group-item span,
.list-group.vertical-steps .list-group-item a{
  display:block;
  overflow:hidden;
  padding-top:2px;
}
.list-group.vertical-steps .list-group-item.active::before{
  background-color:#27AE60;
  color:#fff;
}
.list-group.vertical-steps .list-group-item.completed{
  border-left:3px solid #27AE60;
}
.list-group.vertical-steps .list-group-item.completed::before{
  background-color:#27AE60;
  color:#fff;
}
.list-group.vertical-steps .list-group-item.completed:last-child{
  border-left:3px solid transparent;
}
.formwarningtext{
  color: #c61331;
}
.usernamewarningtext{
  text-align: left
}
input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: #727272;
    font-family:Arial, sans-serif;
    font-size:14px;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span {
     background-color:#e5e5e5;
}

input[type="radio"]:checked + label span{
     background-color:#27AE60;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}
.searchwalabtn{
  padding-top: 0.65em !important;
  padding-bottom: 0.65em !important;
}
.bigsearchwalabtn{
    padding-top: 0.68em !important;
    padding-bottom: 0.68em !important;
}
