.row_2{
	margin-right:0;
	width:45%;
}
h2.m_3 {
  color: #656363;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom:5em;
}
.span_1_of_3 {
  width:32.2%;
}
.col_1_of_3 {
  display: block;
  float: left;
  margin:0 0 0 1.6%;
}
.col_1_of_3:hover .shop-holder{
	border: 8px solid #f54d56;
}
.shop-holder{
	border: 8px solid #ebebeb;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.shop-holder .product-img a:last-child {
  position: absolute;
  bottom: -22px;
  right: 30px;
  width: 40px;
  height: 40px;
  background: url(../images/plus.png) no-repeat 8px 8px #F54D5B;
  color: #fff;
  text-align: center;
  line-height: 33px;
  border: 4px solid #fff;
  font-size: 11px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top-right-radius: 50%;
  /* border-bottom-right-radius: 50%; */
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.shop-holder .product-img a {
  display: block;
  overflow: hidden;
}
.shop-holder .product-img {
	position: relative;
}
.col_1_of_3:first-child {
  margin-left: 0;
}
.about-block-content {
  background-color: #f54d56;
  color: #fff;
  position: relative;
  padding: 40px;
  margin-bottom: 10px;
}
.about-block-content .border-add {
  border: 1px solid #fff;
  left: 10px;
  right: 10px;
  bottom: 10px;
  top: 10px;
}
.border-add {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid #ebebeb;
}
.about-block-content h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 10px;
  margin-top: 0;
}
.item-inner {
    box-shadow: -12px -12px 0px #E2E2E2;
    -webkit-box-shadow: -12px -12px 0px #E2E2E2;
    -moz-box-shadow: -12px -12px 0px #E2E2E2;
    -o-box-shadow: -12px -12px 0px #E2E2E2;
}
.shop-content > div a {
  font-size: 15px;
  letter-spacing: 2px;
}
.shop-content h3 {
  margin: 0;
  margin-top: 3px;
  font-weight:600;
  font-size:20px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.shop-content h3:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 20%;
  background-color: #d3d3d3;
}
.shop-content > span {
  font-size: 13px;
  color: #000000;
}
.content_bottom{
	padding:5em 0;
}
.row_3 img{
	border:1px solid #E4E0E0;
}
.row_5{
	padding: 4% 28% 0 5%;
}
.content_bottom-grid{
	background: #f5f5f5;
}
.row_4{
	background: url(../images/pic10.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  min-height:350px;
}
