.js div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1100;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url('loader.gif') no-repeat center center;
}
.modal {
  text-align: center;
}
@font-face {
    font-family: bbcard;
    src: url(/fonts/sspro.woff);
    font-style: normal;
    font-weight: 400;
}
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 18px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
input:focus{
    outline: none;
}
#homecontent{
    padding-top: 1em;
}
#car1 .carousel-control.left,#car1 .carousel-control.right{
	background-image: none;
	display: inline-block;
	position: absolute;
	top: 40%;
  opacity: 1 !important;

}

#car1 .left.carousel-control img,#car1 .carousel-control.right img{
	width: 1.5em;
  opacity: 1 !important;
}
a{
	font-size: 1em;
	outline: none !important;
}
body{
  font-family: "Open Sans",sans-serif;
		font-size: 16px;
    color: #666;
		text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input[type="text"]{
    border-radius: 0;
    outline: none;
    box-shadow:none !important;
}
.cost{
    color: #388c54;
}
.bsf-shadow{
	-webkit-box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
         -moz-box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
              box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
}

.bsf-shadow-top{
	-webkit-box-shadow: 0px 0px 5px -0px rgba(0,0,0,0.3);
         -moz-box-shadow: 0px 0px 5px -0px rgba(0,0,0,0.3);
              box-shadow: 0px 0px 5px -0px rgba(0,0,0,0.3);
}
.feedcard{
  border: none !important;
  box-shadow: none !important;
}
.feedcardinner{
  padding-bottom: 15px;
  border: none ;
  transition: 0.2s ease all;
}
.heart {
     background: url(../img/web_heart_animation.png);
     background-position: left ;
     background-repeat: no-repeat;
     height: 40px;
     width: 75px;
     cursor: pointer;
     position: relative;
       background-size:2900%;
       margin-left: 30%;
       bottom: 50%;
   }
   @media only screen and (max-width : 415px) {
     .heart {
       left: 50%;
     }
     .cardheart{
       left: -20%;
     }
   }
   @media only screen and (min-width : 415px){
     .heart {
       left: 50%;
     }
     .cardheart{
       left: 0%;
     }
   }
   @media only screen and (max-width : 767px) and (min-width : 721px){
     .menu-button{
       padding-bottom: 1em !important;
     }
   }
   /*
   @media only screen and (min-width: 768px) and (max-width: 938px){
      .navbar-fixed-top{
        font-size: 12px;
      }
      .dp-logo{
        max-height: 1em !important;
      }
   }
   */
.heart:hover, .heart:focus{
   background-position: right;
 }

   @-webkit-keyframes heartBlast {
   0% {
     background-position: left;
 }
 100% {
     background-position: right;
 }
 }

 @keyframes heartBlast {
     0% {
     background-position: left;
 }
 100% {
     background-position: right;
 }
 }

 .heartAnimation {
   -webkit-animation-name: heartBlast;
   animation-name: heartBlast;
   -webkit-animation-duration: .8s;
   animation-duration: .8s;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
   -webkit-animation-timing-function: steps(28);
   animation-timing-function: steps(28);
   background-position: right;
   }
 .likeCount{
   font-family: 'Georgia', Times, Times New Roman, serif;
   font-size: 16px;
   color: #999999;
   text-align: left;
 }
.tags{
  font-size: 8px;
}
@-webkit-keyframes slide-up {
      100% { opacity: 0; -webkit-transform: translateY(-100%); }
    0% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
      100% { opacity: 0; -moz-transform: translateY(-100%); }
    0% { opacity: 1; -moz-transform: translateY(0); }
}
.feedcardimg{
  max-height: 200px;
}
.zmargin{
  margin: 0px;
}
.cardcostrs{
  font-size: 14px;
  display: inline;
}
.cardcost{
  display:inline;
  overflow: hidden;
}
.zpadding{
  padding: 0px;
}
.tagfontsize{
  font-size: 12px;
}
.tag{
  border-radius: 10%;
  color: #fff;
}
.feedtitle{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.educationtag{
  background-color: #006cb4;
}
.interesttag{
  background-color: #f6b312;
}
.trendingtag{
  background-color: #f6b312;
}.rutag{
  background-color: #006cb4;
}.obnytag{
  background-color: #c11b1b;
}
.novelstag{
  background-color: #c11b1b;
}
.cardlikecontainer{
  height: 10px;
  width:100%;
  max-width:100%;
}
.cardheart{
  text-align: left;
}
.modalcolor{
  color: #355368;
}
.lalign{
  text-align: left;
}
.feedtitle a{
  font-size: 16px !important;
  font-weight: normal !important;
}
.minline{
  display: inline;
}
.item {
  position: relative;
  overflow: hidden;
}
.item img {
  max-width: 100%;
  width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.paper-input__wrapper {
	position: relative;
	width: 100%;
	margin-bottom: 2rem;
}

.paper-input {
	display: block;
	width: 100%;
	margin: 0;
	border: none;
	border-bottom: 1px solid #b2b2b2;
	font-size: 2rem;
	padding: 0.5rem 0;

}

.paper-input:focus,
.paper-input.has-focus {
	outline: none;

	& ~ label::after {
		visibility: visible;
		width: 100%;
		left: 0;
	}
}

.paper-input ~ label {
	font-size: 1.5rem;
	width: 100%;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 1.6rem;
	bottom: 0;
	color: #666;
  font-weight: normal;
	&::after {
		content: '';
		background-color: #3f51b5;
		height: 2px;
		width: 0.625rem;
		bottom: 0;
		left: 45%;
		visibility: hidden;
		position: absolute;
		transition: 0.2s ease all;
	}
}
.spacelabel{
  top: 1.6rem;
  &::after{
    bottom: 0;
  }
}
.paper-input--touched ~ label {
	visibility: hidden;
}

.paper-input--floating ~ label {
	transition: 0.2s ease all;
}

.paper-input--floating:focus ~ label,
.paper-input--floating.paper-input--touched ~ label {
	visibility: visible;
	top: -0.625rem;
	font-size: 1rem;
	color: #3f51b5;
}

.bar  { position:relative; display:block; }
.bar:before, .bar:after   {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}
.tileitemcard:focus img, .tileitemcard:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.md-chip {
  display: inline-block;
  border-radius: 15px;
  padding: 0;
  height: 20px;
  background-color: #e4e4e4;
  -webkit-transition: .2s ease-out;
          transition: .2s ease-out;
          font-size: 12px;
          box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}


.md-chip-img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  overflow: hidden;
  float: left;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

.md-chip-img .md-chip-span {
  display: block;
  height: 20px;
  font-size: 12px;
  text-align: center;
}
.md-chip-span span{
  padding: 4px 0 4px 4px;
}
.md-chip-img img {
  margin-left: 11px;
  height: 20px;
}

.md-chip-text {
  display: inline-block;
  font-weight: 400;
  padding: 2px 5px 0px 5px;
  height: 20px;
  float: left;
}

/* Colors */
.pink {
  background-color: #E91E63;
}

.orange {
  background-color: #ff9800;
}

.indigo {
  background-color: #3f51b5;
}

.teal {
  background-color: #009688;
}

.purple {
  background-color: #9C27B0;
}

.deep-purple {
  background-color: #512DA8;
}

.white {
  background-color: #fff;
}

.white .md-chip-text {
  color: rgba(0, 0, 0, .87);
}

.red {
  background-color: #f44336;
}

.blue {
  background-color: #2196f3
}

.green {
  background-color: #4caf50
}
.tileproname a{
  color: #000;
  font-weight: 500;

}
.tileproname{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tileproname a:hover{
  color: #ae1534;
}
.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none;
 border-color:#cccccc;
}
.searchwalabtn{
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0em !important;
  border-left: none; border-top-left-radius: 0em;
  background-color: #f5f5f6; color: #939393;
}
.bigsearchwalabtn{
  padding-top: 0.5em;
}
.navmarginli{
  margin-top:0.5em;
}
.navmarginsearch{
  margin-bottom: 0.5em;
}
.somethingelseli{
  padding: 0.2em 0 0.1em 0.4em;
}
.somethingelseli:hover{
  background: #e5e5e5;
}
.somethingelseli a{
  font-size: 12px;
  color: #939393;
  text-decoration: none;
}
.catimg01{

	background: url('../img/sprite-cmn2.png') no-repeat 0 -983px;
	width: 56px;
	height: 50px;
}
.cat-img-sprite{
  margin-left: 25%;
}
.catcard{
  text-align: center;
}
.catimg02{
  background: url('../img/sprite-cmn2.png') no-repeat 0 -56px;
	width: 61px;
	height: 50px;

}
.catimg03{
  background: url('../img/sprite-cmn2.png') no-repeat 0 -1193px;
	width: 55px;
	height: 50px;
}
.catimg04{
  background: url('../img/sprite-cmn2.png') no-repeat 0 -1123px;
	width: 69px;
	height: 50px;
}
.catimg05{
  background: url('../img/sprite-cmn2.png') no-repeat 0 -1333px;
	width: 44px;
	height: 50px;
}
.catimg06{
  background: url('../img/sprite-cmn2.png') no-repeat 0 -1702px;
	width: 50px;
	height: 50px;
}
.catcardrow1{
  border-top: 1px solid #e5e5e5;
  padding-bottom: 1em;
  padding-top: 1em;
  border-bottom: 1px solid #e5e5e5;
border-right: 1px solid #e5e5e5;
}
.catcardrow2{
  padding-bottom: 1em;
  padding-top: 1em;
  border-bottom: 1px solid #e5e5e5;
border-right: 1px solid #e5e5e5;
}
.catcard:hover{
  background: #f7f7f7;
}
.slide-mo {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
  cursor: pointer;
}
.slide-mo:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.slide-mo:hover:after {
	width: 100%;
	background: #e40046;
}
.homebannerlink:hover h4{
  background: #d1d1d1;
}
.popup{
  display: none;
}
.popup *{
  font-size: 14px;
}
.popuplink:hover li{
  text-decoration: underline;
}


/**MODAL EFFECTS*/

.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}
ul{
  list-style-type: none;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }
