a{
	color: #000;
}

@media only screen and (max-width : 321px) {
    .bookimg{
       height: 200px !important;
    }
    .similaritems{
        height: 150px !important;
    }
}
@media only screen and (min-width: 322px) and (max-width: 800px) {
    .bookimg{
       height: 200px !important;
    }
    .similaritems{
        height: 150px !important;
    }
}
@media only screen and (min-width : 801px) and (max-width : 1024px) {
.bookimg{
       height: 200px !important;
    }
    .similaritems{
        height: 150px !important;
    }
}
@media only screen  and (min-width : 1025px) and (max-width: 1920px){
    .bookimg{
       height: 300px !important;
    }
    .similaritems{
        height: 200px !important;
    }
}
@media only screen  and (min-width : 1921px){
    .bookimg{
       height: 300px !important;
    }
    .similaritems{
        height: 200px !important;
    }
}
.productheading{
    font-weight: bold;
    font-size: 18px;
}
.pgline{
  height: 0px;
  margin: 0px;
  border-bottom: 1px solid #ffffff;
  font-size: 1px;
}
.typetag{
    color: #323232
}
.smallproductdata{
    font-size: 16px;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}
.maximg{
	max-height: 250px;
	min-width: 100%;
	width: 100%;
}


.heart_pg {
		 background: url(../img/web_heart_animation.png);
		 background-position: left;
		 background-repeat: no-repeat;
		 height: 50px;
		 width: 50px;
		 cursor: pointer;
		 position: absolute;
		 left:-25px;
		 top: -115%;
			 background-size:2900%
	 }
	 .heart_pg:hover, .heart_pg:focus{
	 background-position: right;
 }

	 @-webkit-keyframes heartBlast {
	 0% {
		 background-position: left;
 }
 100% {
		 background-position: right;
 }
 }

 @keyframes heartBlast {
		 0% {
		 background-position: left;
 }
 100% {
		 background-position: right;
 }
 }

 .heartAnimation {
	 display: inline-block;
	 -webkit-animation-name: heartBlast;
	 animation-name: heartBlast;
	 -webkit-animation-duration: .8s;
	 animation-duration: .8s;
	 -webkit-animation-iteration-count: 1;
	 animation-iteration-count: 1;
	 -webkit-animation-timing-function: steps(28);
	 animation-timing-function: steps(28);
	 background-position: right;
	 }
.readlaterbtn{
	padding: 2% !important;
}
.carimg{
	max-height: 100px;
	width: 100%;
	min-width: 100%;
}
#recommendedslider li{
	max-width: 200px;
}

#fromsellerslider li{
	max-width: 200px;
}
.dataauthor{
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}




div.stars {
}

input.star { display: none; }

label.star {
	font-size: 2vh;
  float: right;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FD4;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
#fromsellerslider > li a{
	z-index: 150000;
}
